/*

	* Switch to Proxima Nova site-wide
	* Arrow links fade up underline, drop opacity 20% on hover
	* Language switcher in header

*/


.btn {
	letter-spacing: 0;
}
.btn-link {
	border-bottom: none;
	padding-bottom: 0;
}

#header {
	&.is-sticky {
		background-color: #2F3F58;
		color: #fff;
	}
}

#site-branding {
	@include media-breakpoint-up(xl) {
		order: 2;
		width: 150px;
		flex: 0 0 150px;
		margin: 0;
		justify-content: center;
		position: static;
	}
}
#site-logo {
	@include media-breakpoint-up(xl) {
		justify-content: center;
	}
	a img {
		@include media-breakpoint-up(xl) {
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
#site-title {
	@include media-breakpoint-up(xl) {
		position: absolute;
		left: 0;
		top: .5rem;
		height: auto;
		right: auto;
		width: auto;
		transform: translateY(-10px)
	}
	.title {
		letter-spacing: 0;
		color: #fff;
		.sbdc {
			font-weight: 400;
		}
	}
}

#header-primary-navigation {
	#header.search-active & {
		@include media-breakpoint-up(xl) {
			opacity: 1;
		}
	}
	align-self: center;
	@include media-breakpoint-up(xl) {
		order: 1;
		flex: 0 0 calc(50% - 75px);
		justify-content: flex-start;
		transition: margin-top .2s ease-out;
		#header.is-sticky & {
			margin-top: 1rem;
		}
	}
}
#header-primary-navigation-menu {
	&:hover {
		body.header-dropdown-active & {
			> .menu-item {
				&:hover,
				&.active {
					> a {
						opacity: 1;
					}
				}
				> a {
					opacity: .5;
				}
			}
		}
	}
	> .menu-item {
		&:hover,
		&.active {
			> a::after {
				opacity: 1;
				width: calc(100% - 1rem);
				@include media-breakpoint-up(lg) {
					width: calc(100% - 2rem);
				}
			}
			> .sub-menu {
				opacity: 1;
				visibility: visible;
				transition-delay: 0s;
				transform: none;
			}
		}
		> a {
			padding: 1rem 0.5rem;
			position: relative;
			transition: color .2s, opacity .2s;
			#header.is-sticky & {
				color: #fff;
			}
			@include media-breakpoint-up(lg) {
				padding: 1rem;
			}
			&::after {
				content: '';
				display: block;
				position: absolute;
				left: 0.5rem;
				width: 0;
				bottom: 0.375rem;
				border-top: 0.125rem solid $primary;
				transition: opacity .15s, width .15s ease-out;
				// opacity: 0;
				@include media-breakpoint-up(lg) {
					left: 1rem;
				}
				#header.text-color-light &,
				#header.is-sticky & {
					border-color: #fff;
				}
			}
		}
		.menu-item-thumbnail {
			display: none;
		}
		@include media-breakpoint-up(xl) {
			&.has-thumbnail {
				> .sub-menu {
					width: (450px * 2);
					min-height: 400px;
					padding-right: 450px;
					padding-top: 2rem;
					padding-bottom: 2rem;
					.menu-item {
						a {
							padding-left: 2.5rem;
							padding-right: 2.5rem;
						}
					}
					> .menu-item-thumbnail {
						width: 450px;
						position: absolute;
						right: 0;
						top: 0;
						bottom: 0;
						display: block;
						img {
							position: absolute;
							left: 0;
							top: 0;
							width: 100%;
							height: 100%;
							object-fit: cover;
							object-position: center;
						}
					}
				}
			}
		}
	}
	.sub-menu {
		border-radius: 0;
		left: 1rem;
		transform: translateX(-10px);
		.menu-item {
			&:hover {
				> a {
					color: $primary;
				}
			}
		}
		a {
			color: $dark;
		}
	}
}

#header-primary-cta-links {
	@include media-breakpoint-up(xl) {
		order: 3;
		flex: 1 1 auto;
		display: flex;
		justify-content: flex-end;
	}
	.menu-item a {
		@extend .btn;
		@extend .btn-sm;
		@extend .btn-dark-blue;
		background-color: transparent;
		color: $dark-blue;
		@include media-breakpoint-up(lg) {
			@include make-button-size(md);
			border-width: 2px;
			padding: calc(#{$btn-padding-y} - (3px - #{$btn-border-width})) calc(#{$btn-padding-x} - (3px - #{$btn-border-width}));
		}
		@include media-breakpoint-up(xl) {
			@include make-button-size(lg);
			border-width: 2px;
			padding: calc(#{$btn-padding-y-lg} - (4px - #{$btn-border-width})) calc(#{$btn-padding-x-lg} - (4px - #{$btn-border-width}));
		}
		#header.text-color-light &,
		#header.is-sticky & {
			color: #fff;
			border-color: #fff;
			@include hover() {
				background-color: $light-med-blue;
				color: $dark;
				border-color: $light-med-blue;
			}
		}
	}
}
#header-primary-cta-links #google-translate {
	width: 50px;
	margin-top: 0.6rem;
	margin-right: 1rem;
	cursor: pointer;
	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-image: escape-svg(url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#{$primary}" class="bi bi-translate" viewBox="0 0 16 16"><path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286H4.545zm1.634-.736L5.5 3.956h-.049l-.679 2.022H6.18z"/><path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm7.138 9.995c.193.301.402.583.63.846-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6.066 6.066 0 0 1-.415-.492 1.988 1.988 0 0 1-.94.31z"/></svg>'));
		background-position: center;
		background-size: 30px 30px;
		background-repeat: no-repeat;
		#header.text-color-light & {
			background-image: escape-svg(url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#{$light}" class="bi bi-translate" viewBox="0 0 16 16"><path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286H4.545zm1.634-.736L5.5 3.956h-.049l-.679 2.022H6.18z"/><path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm7.138 9.995c.193.301.402.583.63.846-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6.066 6.066 0 0 1-.415-.492 1.988 1.988 0 0 1-.94.31z"/></svg>'));
		}
	}
	select {
		opacity: 0;
		cursor: pointer;
	}
}

#header-search {
	@include media-breakpoint-up(xl) {
		order: 4;
	}
	button.toggle {
		#header.is-sticky & {
			color: #fff;
		}
	}
	.search-form {
		.icon {
			#header.is-sticky & {
				color: #fff;
			}
		}
		input[type=search] {
			#header.is-sticky & {
				border-color: #fff;
				color: #fff;
				&::placeholder {
					color: rgba(#fff, .6);
				}
			}
		}
	}
}

#mobile-menu-toggle {
	#header.is-sticky & {
		.label {
			color: #fff;
		}
		.icon,
		.icon::before,
		.icon::after {
			background-color: #fff;
		}
	}
}

#mobile-menu-primary-navigation-menu {
	> .menu-item {
		> .sub-menu {
			font-size: 1.25rem;
			> .menu-item {
				&:first-child {
					// padding-top: 1rem;
				}
				&:last-child {
					padding-bottom: 1rem;
				}
				a {
					padding: .25rem 1rem;
				}
			}
		}
	}
}

#footer {
	> .inner > .container {
		> .upper {
			@include media-breakpoint-up(md) {
				padding-bottom: 3rem;
			}
			> .inner {
				@include media-breakpoint-up(md) {
					display: flex;
					flex-wrap: nowrap;
					justify-content: space-between;
				}
			}
		}
		> .lower {
			@media (min-width: 1400px) {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}
#site-footer-branding {
	@include media-breakpoint-up(md) {
		flex: 1 1 auto;
		max-width: 500px;
		margin-bottom: 0;
	}
}
#site-footer-logo {
	margin-bottom: 2rem;
}
#site-footer-tagline {
	margin: 0;
}
#site-footer-links {
	flex: 0 0 100%;
    padding-left: 1rem;
    padding-right: 1rem;
	@include media-breakpoint-up(md) {
		flex: 0 0 300px;
	}
	.social-links {
		@include media-breakpoint-up(md) {
			text-align: center;
			.menu {
				justify-content: center;
			}
		}
	}
}
#footer-primary-cta-links {
	margin-bottom: 2rem;
	ul {
		@include media-breakpoint-up(md) {
			margin-top: 0;
		}
	}
	li a {
		@extend .btn-dark-med-blue;
	}
}
#site-copyright {
	margin-top: 0;
}
#footer-legal-links {
	@include media-breakpoint-up(md) {
		margin-top: 0;
	}
}
#site-footer-meta {
	margin-top: 2rem;
	@include media-breakpoint-up(md) {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	.accreditations {
		@include media-breakpoint-up(md) {
			padding-right: 0;
			width: auto;
			order: 2;
		}
	}
}
#site-description {
	@include media-breakpoint-up(md) {
		text-align: left;
		flex: 1 1 auto;
		margin-left: 0;
		margin-right: 2rem;
	}
	h3 {
		font-size: 1rem;
		color: $primary;
	}
}


#main-content,
#main .container > .inner {
	> .wp-block-crown-blocks-call-to-action.alignfull,
	> .wp-block-crown-blocks-container.alignfull,
	> .wp-block-crown-blocks-container-featured-image.alignfull,
	> .wp-block-crown-blocks-promo.alignfull,
	> .wp-block-crown-blocks-post-header,
	> .wp-block-crown-blocks-resource-header,
	> .wp-block-crown-blocks-event-header,
	> .wp-block-crown-blocks-client-story-header,
	> .wp-block-crown-blocks-webinar-header {
		&:last-child {
			padding-bottom: 0;
		}
	}
}


.wp-block-crown-blocks-grid {
	&.is-style-dividers {
		$column-cell-selector: '> .inner > .grid-columns > .inner > .wp-block-crown-blocks-grid-cell';
		#{$column-cell-selector} > .inner {
			position: relative;
			&.animated {
				&::before {
					bottom: 0;
					transition: bottom ease-out .5s;
				}
			}
			&:before {
				content: '';
				position: absolute;
				display: none;
				left: 0;
				top: 0;
				bottom: 0;
				bottom: 100%;
				border-left: 4px solid $primary;
				opacity: 1;
				margin-left: -2px;
				.text-color-light & {
					border-left-color: $rain;
				}
				.text-color-dark & {
					border-left-color: $primary;
				}
			}
			&:after {
				content: '';
				position: absolute;
				display: none;
				left: 0;
				top: 0;
				right: 0;
				border-top: 4px solid $primary;
				opacity: 1;
				margin-top: -2px;
				.text-color-light & {
					border-top-color: $rain;
				}
				.text-color-dark & {
					border-top-color: $primary;
				}
			}
		}
		&.column-breakpoint-xs {
			#{$column-cell-selector} > .inner:before { display: block; }
			@for $i from 1 through 6 {
				&.column-count-xs-#{$i} #{$column-cell-selector}:nth-child(#{$i}n + 1) > .inner:before { display: none; }
			}
			@for $i from 0 through 16 {
				&.column-spacing-xs-#{$i} #{$column-cell-selector} > .inner:before { left: ($i * 1rem) / -2; }
			}
		}
		@media (min-width: 576px) {
			&.column-breakpoint-xs, &.column-breakpoint-sm {
				#{$column-cell-selector} > .inner:before { display: block; }
				@for $i from 1 through 6 {
					&.column-count-sm-#{$i} #{$column-cell-selector}:nth-child(#{$i}n + 1) > .inner:before { display: none; }
				}
				@for $i from 0 through 16 {
					&.column-spacing-sm-#{$i} #{$column-cell-selector} > .inner:before { left: ($i * 1rem) / -2; }
				}
			}
		}
		@media (min-width: 768px) {
			&.column-breakpoint-xs, &.column-breakpoint-sm, &.column-breakpoint-md {
				#{$column-cell-selector} > .inner:before { display: block; }
				#{$column-cell-selector} > .inner:after { display: block; }
				@for $i from 1 through 6 {
					&.column-count-md-#{$i} #{$column-cell-selector}:nth-child(#{$i}n + 1) > .inner:before { display: none; }
					&.column-count-md-#{$i} #{$column-cell-selector}:nth-child(#{$i}n + 1) > .inner:after { left: 0; }
					@for $j from 1 through $i {
						&.column-count-md-#{$i} #{$column-cell-selector}:nth-child(#{$j}) > .inner:before { top: 0; }
						&.column-count-md-#{$i} #{$column-cell-selector}:nth-child(#{$j}) > .inner:after { display: none; }
					}
				}
				@for $i from 0 through 16 {
					&.column-spacing-md-#{$i} #{$column-cell-selector} > .inner:before { left: ($i * 1rem) / -2; top: ($i * 1rem) / -1; }
					&.column-spacing-md-#{$i} #{$column-cell-selector} > .inner:after { left: ($i * 1rem) / -1; top: ($i * 1rem) / -2; }
				}
			}
		}
		@media (min-width: 992px) {
			&.column-breakpoint-xs, &.column-breakpoint-sm, &.column-breakpoint-md, &.column-breakpoint-lg {
				#{$column-cell-selector} > .inner:before { display: block; }
				@for $i from 1 through 6 {
					&.column-count-lg-#{$i} #{$column-cell-selector}:nth-child(#{$i}n + 1) > .inner:before { display: none; }
				}
				@for $i from 0 through 16 {
					&.column-spacing-lg-#{$i} #{$column-cell-selector} > .inner:before { left: ($i * 1rem) / -2; }
				}
			}
		}
		@media (min-width: 1200px) {
			&.column-breakpoint-xs, &.column-breakpoint-sm, &.column-breakpoint-md, &.column-breakpoint-lg, &.column-breakpoint-xl {
				#{$column-cell-selector} > .inner:before { display: block; }
				@for $i from 1 through 6 {
					&.column-count-xl-#{$i} #{$column-cell-selector}:nth-child(#{$i}n + 1) > .inner:before { display: none; }
				}
				@for $i from 0 through 16 {
					&.column-spacing-xl-#{$i} #{$column-cell-selector} > .inner:before { left: ($i * 1rem) / -2; }
				}
			}
		}
	}
}


.wp-block-crown-blocks-multi-column {
	&.overlap-left-column {
		@include media-breakpoint-up(md) {
			> .inner > .multi-column-columns > .inner {
				> .wp-block-crown-blocks-column:nth-child(1) {
					z-index: 1;
				}
				> .wp-block-crown-blocks-column:nth-child(2) > .inner > .column-contents {
					margin-left: -20%;
					width: 120%;
					> .inner {
						> .wp-block-crown-blocks-container {
							padding-left: 16.6666667%;
						}
					}
				}
			}
		}
	}
	&.overlap-right-column {
		@include media-breakpoint-up(md) {
			> .inner > .multi-column-columns > .inner {
				> .wp-block-crown-blocks-column:nth-child(1) {
					margin-right: -20%;
					width: 120%;
					> .inner {
						> .wp-block-crown-blocks-container {
							padding-right: 16.6666667%;
						}
					}
				}
				> .wp-block-crown-blocks-column:nth-child(2) > .inner > .column-contents {
					z-index: 1;
				}
			}
		}
	}
}


.wp-block-crown-blocks-featured-client-story-slider {
	flex: 1 1 auto;
	display: flex;
	> .inner {
		width: 100%;
		display: flex;
		background-color: $dark-gray;
	}
	.post-feed {
		width: 100%;
		display: flex;
	}
	.post-feed > .inner {
		position: relative;
		width: 100%;
		&::before {
			content: '';
			position: absolute;
			right: 0;
			top: calc(50% - 1px);
			width: 6rem;
			border-top: 2px solid #fff;
			z-index: 99;
		}
		.slick-list,
		.slick-track {
			height: 100%;
		}
		article {
			display: flex;
			> a {
				width: 100%;
				display: flex;
				align-items: center;
				position: relative;
				padding-right: 6rem;
				padding-left: 6rem;
				color: #fff;
				&:hover {
					> .bg .bg-image {
						opacity: .2;
					}
					.entry-title {
						text-decoration-color: rgba($blue, 1);
					}
				}
				> .bg {
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					overflow: hidden;
					background-color: $blue;
					.bg-image {
						position: absolute;
						left: 0;
						top: 0;
						right: 0;
						bottom: 0;
						background-position: center;
						background-repeat: no-repeat;
						background-size: cover;
						opacity: .1;
						transition: opacity .5s;
					}
				}
				> .inner {
					position: relative;
					width: 100%;
					padding: 4rem;
					@include media-breakpoint-up(sm) {
						padding-top: 6rem;
						padding-bottom: 6rem;
					}
				}
				.entry-title {
					transition: text-decoration-color .2s;
					margin-bottom: 0;
				}
				.entry-industries {
					display: block !important;
					margin-top: 2rem;
					border-bottom: 2px solid #fff;
					padding-bottom: 1rem;
					.industry {
						display: inline-block;
						line-height: 1.2;
						font-weight: 700;
						font-size: 0.625rem;
						letter-spacing: .05em;
						text-transform: uppercase;
						border-radius: 10rem;
						border: 1px solid #fff;
						padding: .5rem .75rem;
						color: inherit;
					}
					// a {
					// 	transition: background-color .2s, color .2s, boder-color .2s;
					// 	&:hover {
					// 		background-color: #fff;
					// 		color: #333;
					// 	}
					// }
				}
				.btn-link {
					color: #fff;
				}
			}
		}
		.slick-arrow {
			width: 6rem;
			height: 8rem;
			background-color: transparent;
			border-radius: 0;
			display: block;
			opacity: .5;
			transition: opacity .2s;
			overflow: hidden;
			text-indent: -10000px;
			border: none;
			position: absolute;
			right: 0;
			outline: none;
			z-index: 100;
			&:hover {
				opacity: 1;
			}
			&.slick-prev {
				top: calc(50% - 8rem);
				transform: rotateY(180deg);
			}
			&.slick-next {
				margin-left: 0;
				top: 50%;
			}
			&::before {
				content: '';
				background-image: escape-svg(url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-chevron-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>'));

				background-size: contain;
				background-repeat: no-repeat;
				position: absolute;
				width: 2.75rem;
				height: 2.75rem;
				left: calc(50% - (2.75rem / 2));
				top: calc(50% - (2.75rem / 2));
			}
		}
	}
}


.wp-block-crown-blocks-header {
	> .inner,
	> .header-container > .inner {
		margin-bottom: 0.25rem;
		h1, h2, h3, h4, h5, h6 {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	> .hr-container,
	> .header-container > .hr-container {
		height: 0.5rem;
		> hr {
			height: 0.5rem;
			display: none;
			&.solid {
				display: block;
			}
		}
	}
	&.text-alignment-center {
		display: flex;
		justify-content: center;
		> .header-container {
			position: relative;
			margin-bottom: -0.5rem;
			padding-bottom: 0.5rem;
		}
	}
}