

.wp-block-crown-blocks-container.alignfull,
.wp-block-crown-blocks-container-featured-image.alignfull,
.wp-block-crown-blocks-promo.alignfull,
.wp-block-crown-blocks-call-to-action.alignfull {
	+ .wp-block-crown-blocks-container.alignfull,
	+ .wp-block-crown-blocks-container-featured-image.alignfull,
	+ .wp-block-crown-blocks-promo.alignfull,
	+ .wp-block-crown-blocks-call-to-action.alignfull {
		margin-top: -1rem;
	}
}



/*	Container
---------------------------------------------------------*/

.wp-block-crown-blocks-container {
	&.text-color-light {
		color: #fff;
	}
	&.text-color-dark {
		color: $body-color;
	}
	&.alignwide {
		max-width: $container-effective-max-width;
		@media (min-width: #{(900px + rem-to-pix(map-get($container-padding-x, md) * 2))}) {
			margin-left: calc(((100vw - 900px) / -2) + #{rem-to-pix(map-get($container-padding-x, md))});
			margin-right: calc(((100vw - 900px) / -2) + #{rem-to-pix(map-get($container-padding-x, md))});
		}
		@include media-breakpoint-up(lg) {
			margin-left: calc(((100vw - 900px) / -2) + #{rem-to-pix(map-get($container-padding-x, lg))});
			margin-right: calc(((100vw - 900px) / -2) + #{rem-to-pix(map-get($container-padding-x, lg))});
		}
		@include media-breakpoint-up(xl) {
			margin-left: calc(((100vw - 900px) / -2) + #{rem-to-pix(map-get($container-padding-x, xl))});
			margin-right: calc(((100vw - 900px) / -2) + #{rem-to-pix(map-get($container-padding-x, xl))});
		}
		@media (min-width: #{($container-effective-max-width + rem-to-pix(map-get($container-padding-x, xl) * 2))}) {
			margin-left: ($container-effective-max-width - 900px) / -2;
			margin-right: ($container-effective-max-width - 900px) / -2;
		}
	}
	&.alignfull {
		margin-left: -#{map-get($container-padding-x, xs)};
		margin-right: -#{map-get($container-padding-x, xs)};
		@include media-breakpoint-up(sm) {
			margin-left: -#{map-get($container-padding-x, sm)};
			margin-right: -#{map-get($container-padding-x, sm)};
		}
		@include media-breakpoint-up(md) {
			margin-left: -#{map-get($container-padding-x, md)};
			margin-right: -#{map-get($container-padding-x, md)};
		}
		@media (min-width: #{(900px + map-get($container-padding-x-px, md) * 2)}) {
			margin-left: calc((100vw - 900px) / -2);
			margin-right: calc((100vw - 900px) / -2);
		}
		> .inner > .container-contents {
			@each $breakpoint, $padding-x in $container-padding-x {
				@include media-breakpoint-up($breakpoint, $grid-breakpoints) {
					padding-left: $padding-x;
					padding-right: $padding-x;
				}
			}
			padding-top: 40px;
			padding-bottom: 40px;
			@include media-breakpoint-up(md) {
				padding-top: 60px;
				padding-bottom: 60px;
			}
			@include media-breakpoint-up(lg) {
				padding-top: 80px;
				padding-bottom: 80px;
			}
			// @include media-breakpoint-up(xl) {
			// 	padding-top: 100px;
			// 	padding-bottom: 100px;
			// }
			> .inner {
				// max-width: $container-effective-max-width;
			}
		}
	}
	&.is-style-panel {
		border-radius: 3px;
		box-shadow: 0 0 20px fade-out(#000, .85);
	}
}


/*	Tabbed Content
---------------------------------------------------------*/

.wp-block-crown-blocks-tabbed-content {
	.text-color-light & {
		.slick-slider-nav .slick-dots button { color: $white; }
		.slick-slider-nav .slick-dots li:after { border-color: $white; }
	}
	.text-color-dark & {
		.slick-slider-nav .slick-dots button { color: $body-color; }
		.slick-slider-nav .slick-dots li:after { border-color: $body-color; }
	}
	.slick-slider-nav {
		margin-bottom: 3rem;
		.slick-dots {
			list-style: none;
			margin: 0 -1rem -1rem;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			flex-wrap: wrap;
			@include media-breakpoint-up(lg) {
				margin: 0 -2rem -1rem;
			}
			li {
				margin: 0 1rem 1rem;
				position: relative;
				padding-bottom: 0.25rem + 0.25rem;
				@include media-breakpoint-up(lg) {
					margin: 0 2rem 1rem;
				}
				&.slick-active {
					&:after {
						left: 0;
						right: 0;
						opacity: 1;
					}
				}
				&:after {
					content: '';
					display: block;
					position: absolute;
					left: 50%;
					right: 50%;
					opacity: 0;
					bottom: 0;
					transition: left .2s ease-out, right .2s ease-out, opacity .2s;
					border-top: 0.25rem solid $body-color;
				}
			}
			button {
				border: none;
				padding: 0;
				background-color: transparent;
				font-size: 1.25rem;
				line-height: $line-height-sm;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				outline: none;
				color: $body-color;
				.index,
				.indicator {
					display: none;
				}
			}
		}
	}
	.tabbed-content-tabs {
		> .inner {
			display: none;
			&.slick-initialized {
				display: block;
				.slick-slide {
					outline: none;
				}
				.tab-title {
					display: none;
				}
			}
		}
	}
}


/*	Gallery
---------------------------------------------------------*/

.wp-block-gallery {
	&.is-style-mosaic-8 {
		padding: 1px;
		.blocks-gallery-grid {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			grid-gap: 1px;
			width: 100%;
		}
		.blocks-gallery-item {
			margin: 0;
			width: auto;
			display: flex;
			position: relative;
			overflow: hidden;
			display: none;
			@for $i from 1 through 8 { &:nth-child(#{$i}) { display: flex; } }
			&:nth-child(1) { grid-column: span 4; grid-row: span 3; }
			&:nth-child(2) { grid-column: span 3; grid-row: span 4; }
			&:nth-child(3) { grid-column: span 5; grid-row: span 4; }
			&:nth-child(4) { grid-column: span 4; grid-row: span 8; }
			&:nth-child(5) { grid-column: span 4; grid-row: span 4; }
			&:nth-child(6) { grid-column: span 4; grid-row: span 4; }
			&:nth-child(7) { grid-column: span 3; grid-row: span 3; &:before { padding-top: percentage(1 / 3); } }
			&:nth-child(8) { grid-column: span 5; grid-row: span 3; &:before { padding-top: percentage(1 / 3); } }
			&:before {
				content: '';
				display: block;
				height: 0;
				flex: 0 0 0;
				padding-top: percentage(2 / 3);
			}
			figure {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: opacity 1s, transform 1s ease-out;
				&.new {
					opacity: 0;
					transition-duration: 0s;
					transform: scale(1.1);
				}
			}
			a {
				width: 100%;
				height: 100%;
				flex: 1;
				object-fit: cover;
			}
			img {
				width: 100%;
				height: 100%;
				flex: 1;
				object-fit: cover;
			}
			figcaption {
				display: none;
			}
		}
	}
}