

.wp-block-crown-blocks-container.alignfull,
.wp-block-crown-blocks-container-featured-image.alignfull,
.wp-block-crown-blocks-promo.alignfull,
.wp-block-crown-blocks-call-to-action.alignfull {
	+ .wp-block-crown-blocks-container.alignfull,
	+ .wp-block-crown-blocks-container-featured-image.alignfull,
	+ .wp-block-crown-blocks-promo.alignfull,
	+ .wp-block-crown-blocks-call-to-action.alignfull {
		margin-top: -1rem;
	}
}



/*	Container
---------------------------------------------------------*/

.wp-block-crown-blocks-container {
	&.text-color-light {
		color: #fff;
	}
	&.text-color-dark {
		color: $body-color;
	}
	&.alignwide {
		max-width: $container-effective-max-width;
		@media (min-width: #{(900px + rem-to-pix(map-get($container-padding-x, md) * 2))}) {
			margin-left: calc(((100vw - 900px) / -2) + #{rem-to-pix(map-get($container-padding-x, md))});
			margin-right: calc(((100vw - 900px) / -2) + #{rem-to-pix(map-get($container-padding-x, md))});
		}
		@include media-breakpoint-up(lg) {
			margin-left: calc(((100vw - 900px) / -2) + #{rem-to-pix(map-get($container-padding-x, lg))});
			margin-right: calc(((100vw - 900px) / -2) + #{rem-to-pix(map-get($container-padding-x, lg))});
		}
		@include media-breakpoint-up(xl) {
			margin-left: calc(((100vw - 900px) / -2) + #{rem-to-pix(map-get($container-padding-x, xl))});
			margin-right: calc(((100vw - 900px) / -2) + #{rem-to-pix(map-get($container-padding-x, xl))});
		}
		@media (min-width: #{($container-effective-max-width + rem-to-pix(map-get($container-padding-x, xl) * 2))}) {
			margin-left: ($container-effective-max-width - 900px) / -2;
			margin-right: ($container-effective-max-width - 900px) / -2;
		}
	}
	&.alignfull {
		margin-left: -#{rem-to-pix(map-get($container-padding-x, xs))};
		margin-right: -#{rem-to-pix(map-get($container-padding-x, xs))};
		@include media-breakpoint-up(sm) {
			margin-left: -#{rem-to-pix(map-get($container-padding-x, sm))};
			margin-right: -#{rem-to-pix(map-get($container-padding-x, sm))};
		}
		@include media-breakpoint-up(md) {
			margin-left: -#{rem-to-pix(map-get($container-padding-x, md))};
			margin-right: -#{rem-to-pix(map-get($container-padding-x, md))};
		}
		@media (min-width: #{(900px + rem-to-pix(map-get($container-padding-x, md) * 2))}) {
			margin-left: calc((100vw - 900px) / -2);
			margin-right: calc((100vw - 900px) / -2);
		}
		> .inner > .container-contents {
			@each $breakpoint, $padding-x in $container-padding-x {
				@include media-breakpoint-up($breakpoint, $grid-breakpoints) {
					padding-left: $padding-x;
					padding-right: $padding-x;
				}
			}
			padding-top: 40px;
			padding-bottom: 40px;
			@include media-breakpoint-up(md) {
				padding-top: 60px;
				padding-bottom: 60px;
			}
			@include media-breakpoint-up(lg) {
				padding-top: 80px;
				padding-bottom: 80px;
			}
			// @include media-breakpoint-up(xl) {
			// 	padding-top: 100px;
			// 	padding-bottom: 100px;
			// }
			> .inner {
				// max-width: $container-effective-max-width;
			}
		}
	}
	&.is-style-panel {
		border-radius: 3px;
		box-shadow: 0 0 20px fade-out(#000, .85);
	}
}