

.btn {
	letter-spacing: $btn-letter-spacing;
}

.btn-md {
	@include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
}

.btn-has-arrow-icon {
	position: relative;
	@include hover() {
		&:after {
			right: -.25em;
		}
	}
	&:after {
		@include icon(map-get($icomoon-icons, arrow-right), icomoon);
		position: relative;
		margin-left: .5em;
		margin-right: -.5em;
		top: .08em;
		right: 0;
		transition: right ease-out .15s;
	}
}

.btn-link {
	padding: 0;
	padding-bottom: .3em;
	font-weight: $btn-font-weight;
	outline: none;
	border-width: 0;
	border-bottom-width: 3px;
	&:focus {
		box-shadow: none;
	}
	&.btn-lg {
		border-bottom-width: 4px;
	}
	&.btn-sm {
		border-bottom-width: 2px;
	}
	&.btn-has-arrow-icon {
		margin-right: 2em;
		&:after {
			margin-right: -1.55em;
		}
	}
	@each $color, $value in $theme-colors {
		&.btn-link-#{$color} {
			color: $value;
			border-color: $value;
			&:hover {
				color: darken($value, 15%);
				border-color: darken($value, 15%);
			}
		}
	}
}

@each $color, $value in $theme-colors {
	.btn-outline-#{$color} {
		border-width: 3px;
		padding: calc(#{$btn-padding-y} - (3px - #{$btn-border-width})) calc(#{$btn-padding-x} - (3px - #{$btn-border-width}));
		&.btn-has-arrow-icon {
			margin-right: 1.8em;
			@include media-breakpoint-up(sm) {
				margin-right: 3.5em;
			}
			@include hover() {
				&:after {
					right: -1.25em;
					@include media-breakpoint-up(sm) {
						right: -2em;
					}
				}
			}
			&:after {
				@include icon(map-get($icomoon-icons, arrow-right-long), icomoon);
				position: absolute;
				margin: 0;
				color: $value;
				top: 50%;
				font-size: 1.666666667em;
				margin-top: -0.5em;
				right: -1em;
				transition: right ease-out .15s;
			}
		}
		&.btn-lg {
			border-width: 4px;
			padding: calc(#{$btn-padding-y-lg} - (4px - #{$btn-border-width})) calc(#{$btn-padding-x-lg} - (4px - #{$btn-border-width}));
		}
		&.btn-sm {
			border-width: 2px;
			padding: calc(#{$btn-padding-y-sm} - (2px - #{$btn-border-width})) calc(#{$btn-padding-x-sm} - (2px - #{$btn-border-width}));
		}
	}
}

@each $breakpoint, $width in $grid-breakpoints {
	.btn-block-to-#{$breakpoint} {
		display: block;
		width: 100%;
		@include media-breakpoint-up($breakpoint) {
			display: inline-block;
			width: auto;
			+ .btn-block {
				margin-top: 0;
			}
			@each $breakpoint2, $width2 in $grid-breakpoints {
				+ .btn-block-to-#{$breakpoint2} {
					margin-top: 0;
				}
			}
		}
		+ .btn-block {
			margin-top: $btn-block-spacing-y;
		}
		@each $breakpoint2, $width2 in $grid-breakpoints {
			@if $width2 >= $width {
				+ .btn-block-to-#{$breakpoint2} {
					margin-top: $btn-block-spacing-y;
				}
			}
		}
	}
}
.btn-block {
	
	display: block;
	width: 100%;

	// Vertically space out multiple block buttons
	+ .btn-block {
		margin-top: $btn-block-spacing-y;
	}
}


// button,
// input[type=button] {
// 	@extend .btn;
// 	@extend .btn-baby-blue;
// }

// input[type=submit],
// button[type=submit] {
// 	@extend .btn;
// 	@extend .btn-sky-blue;
// }


.action-subject-link {
	display: inline-block;
	line-height: $line-height-sm;
	text-align: left;
	font-weight: 400;
	color: $primary;
	&:hover {
		color: $primary;
		.subject {
			color: $blue;
			&:after {
				right: -2.5em;
			}
		}
	}
	.action {
		display: block;
		font-size: 1.625rem;
		font-family: $font-family-sans-serif-alt;
		font-style: normal;
		color: rgba(#002649, .4);
	}
	.subject {
		display: block;
		text-transform: lowercase;
		font-weight: 700;
		font-size: 1.25rem;
		margin-right: 3em;
		position: relative;
		transition: color .15s;
		&:after {
			@include icon(map-get($icomoon-icons, arrow-right-long), icomoon);
			position: absolute;
			margin: 0;
			color: $red;
			top: 50%;
			font-size: 1.666666667em;
			margin-top: -0.55em;
			right: -2em;
			transition: right ease-out .15s;
		}
	}
}