

.btn {
	text-transform: uppercase;
	letter-spacing: $btn-letter-spacing;
}

.btn-link {
	padding: 0;
	font-weight: $btn-font-weight;
	outline: none;
	&:focus {
		box-shadow: none;
	}
	@each $color, $value in $theme-colors {
		&.btn-link-#{$color} {
			color: $value;
			&:hover {
				color: darken($value, 15%);
			}
		}
	}
}

@each $color, $value in $theme-colors {
	.btn-outline-#{$color} {
		border-width: 2px;
		border-style: dashed;
		padding: calc(#{$btn-padding-y} - (2px - #{$btn-border-width})) calc(#{$btn-padding-x} - (2px - #{$btn-border-width}));
		@include hover() {
			color: $value;
			background-color: fade-out($value, 0.9);
			// border-color: $active-border;
		}
		&.btn-lg {
			padding: calc($btn-padding-y-lg - (2px - $btn-border-width)) calc(btn-padding-x-lg - (2px - $btn-border-width));
		}
		&.btn-sm {
			padding: calc($btn-padding-y-sm - (2px - $btn-border-width)) calc(btn-padding-x-sm - (2px - $btn-border-width));
		}
	}
}

@each $breakpoint, $width in $grid-breakpoints {
	.btn-block-to-#{$breakpoint} {
		display: block;
		width: 100%;
		@include media-breakpoint-up($breakpoint) {
			display: inline-block;
			width: auto;
			+ .btn-block {
				margin-top: 0;
			}
			@each $breakpoint2, $width2 in $grid-breakpoints {
				+ .btn-block-to-#{$breakpoint2} {
					margin-top: 0;
				}
			}
		}
		+ .btn-block {
			margin-top: $btn-block-spacing-y;
		}
		@each $breakpoint2, $width2 in $grid-breakpoints {
			@if $width2 >= $width {
				+ .btn-block-to-#{$breakpoint2} {
					margin-top: $btn-block-spacing-y;
				}
			}
		}
	}
}
.btn-block {
	
	display: block;
	width: 100%;

	// Vertically space out multiple block buttons
	+ .btn-block {
		margin-top: $btn-block-spacing-y;
	}
}


// button,
// input[type=button] {
// 	@extend .btn;
// 	@extend .btn-baby-blue;
// }

// input[type=submit],
// button[type=submit] {
// 	@extend .btn;
// 	@extend .btn-sky-blue;
// }