

/*	Icon Links
---------------------------------------------------------*/

.icon-link {
	font-family: $btn-font-family;
	line-height: $btn-line-height;
	font-weight: $btn-font-weight;
	text-transform: uppercase;
	.bi:last-child {
		margin-left: .3em;
		width: 1.5em;
		height: 1.5em;
		vertical-align: top;
		display: inline-block;
		line-height: 1;
		margin-top: .1em;
	}
}