
.modal {
	button.close {
		outline: none;
		text-shadow: none;
		transition: opacity .15s;
		&:not(:disabled):not(.disabled):hover,
		&:not(:disabled):not(.disabled):focus {
			opacity: 1;
		}
	}
}

.modal.loading {
	.modal-header {
		display: none;
	}
	.modal-body {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 400px;
	}
}


.modal.contact-form {
	.disclaimer {
		font-size: 0.75rem;
		line-height: $line-height-sm;
		margin-top: 1rem;
		margin-bottom: 0;
		a {
			color: inherit;
			text-decoration: underline;
		}
	}
}
