
.modal {
	line-height: $line-height-base;
	button.close {
		outline: none;
		text-shadow: none;
		transition: opacity .15s;
		font-weight: 300;
		&:not(:disabled):not(.disabled):hover,
		&:not(:disabled):not(.disabled):focus {
			opacity: 1;
		}
	}
}

.modal.loading {
	.modal-header {
		display: none;
	}
	.modal-body {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 400px;
	}
}


.modal.contact-form {
	.disclaimer {
		font-size: 0.75rem;
		line-height: $line-height-sm;
		margin-top: 1rem;
		margin-bottom: 0;
		a {
			color: inherit;
			text-decoration: underline;
		}
	}
}


#subscribe-modal {
	.modal-title {
		font-family: $font-family-sans-serif-alt;
		text-transform: uppercase;
		letter-spacing: .1em;
		font-size: 1.125rem;
		color: $blue;
		padding: .3rem 0;
		span {
			color: $primary;
		}
	}
	.gform_wrapper {
		margin-bottom: 0;
	}
	.gform_heading {
		margin-bottom: 1rem;
	}
	.gform_title {
		font-size: 1.75rem;
		font-weight: 400;
	}
}