

.featured-post-cta {
	a {
		display: flex;
		position: relative;
		align-items: flex-start;
		overflow: hidden;
		&:hover {
			.cta-bg img {
				transform: scale(1.1);
			}
			.cta-contents:before {
				top: -120px;
			}
			.cta-title {
				transform: translateY(-4px);
			}
		}
		&:before {
			content: '';
			display: block;
			flex: 0 0 0;
			height: 0;
			padding-top: 85%;
		}
		> .inner {
			position: relative;
			color: #fff;
			flex: 1 1 auto;
			align-self: stretch;
			padding: 20px + 2px + 20px;
			text-align: center;
			display: flex;
		}
	}
	.cta-bg {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		background-color: $dark;
		img {
			@include absolute-object-fit();
			transition: transform .75s ease-out;
		}
	}
	.cta-contents {
		flex: 1 1 auto;
		align-self: flex-end;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			display: block;
			left: -20px - 2px - 20px;
			top: -80px;
			right: -20px - 2px - 20px;
			bottom: -20px - 2px - 20px;
			background: linear-gradient(180deg, fade-out($primary, 1) 0%, fade-out($primary, 0) 100%);
			transition: top .75s ease-out;
		}
	}
	.cta-title {
		margin: 0;
		font-size: 1.125rem;
		font-weight: 400;
		position: relative;
		transition: transform .75s ease-out;
	}
	.cta-label {
		position: absolute;
		left: 20px;
		top: 20px;
		right: 20px;
		bottom: 20px;
		border: 2px solid #fff;
		border-bottom-color: transparent;
		font-size: 0.75rem;
		line-height: $line-height-sm;
		text-transform: uppercase;
		letter-spacing: .1em;
		color: $baby-blue;
		span {
			display: flex;
			align-items: center;
			position: absolute;
			left: -2px;
			right: -2px;
			bottom: -8px;
			&:before,
			&:after {
				content: '';
				height: 0;
				display: block;
				border-top: 2px solid #fff;
				flex: 1 1 auto;
			}
			&:before { margin-right: 20px; }
			&:after { margin-left: 20px; }
		}
	}
}


.odometer-statistic {
	&.fade-in {
		opacity: 0;
		&.animated {
			opacity: 1;
			transition: opacity .5s;
		}
	}
	.stat-value {
		span.pre,
		span.post {
			display: inline-block;
		}
		span.odometer {
			font-family: inherit;
		}
	}
}