



.odometer-statistic {
	&.fade-in {
		opacity: 0;
		&.animated {
			opacity: 1;
			transition: opacity .5s;
		}
	}
	.stat-value {
		span.pre,
		span.post {
			display: inline-block;
		}
		span.odometer {
			font-family: inherit;
		}
	}
}