
.pagination-wrapper {
	margin: 2rem 0;
}
nav.pagination {
	display: block;
	&.infinite {
		text-align: center;
	}
	.nav-links {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -0.125rem -0.25rem;
		.page-numbers {
			@extend .btn;
			@extend .btn-light-gray;
			margin: 0 0.125rem 0.25rem;
			padding-left: .5rem;
			padding-right: .5rem;
			min-width: 3rem;
			&.current {
				@extend .btn-blue;
				pointer-events: none;
			}
			&.prev,
			&.next {
				overflow: hidden;
				text-indent: -100000px;
				position: relative;
				width: 3rem;
				&:after {
					@include icon(map-get($icomoon-icons, arrow-right), icomoon);
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					text-indent: 0;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				span {
					display: none;
				}
			}
			&.prev:after {
				transform: rotateY(180deg);
			}
		}
		span.page-numbers {
			pointer-events: none;
			color: rgba($dark, .5);
		}
	}
}