/*
Theme Name: Norcal SBDC VBOC
Theme URI: https://www.norcalvboc.org
Author: Jordan Crown
Author URI: http://www.jordancrown.com
Template: norcal-sbdc
Description: A custom theme developed specifically for the Northern California SBDC VBOC site.
Version: 0.1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/