

// @font-face {
// 	font-family: 'Brandon Text';
// 	src: url('../fonts/brandon-text/brandon-text-regular-webfont.eot');
// 	src: url('../fonts/brandon-text/brandon-text-regular-webfont.eot?#iefix') format('embedded-opentype'),
// 	     url('../fonts/brandon-text/brandon-text-regular-webfont.woff2') format('woff2'),
// 	     url('../fonts/brandon-text/brandon-text-regular-webfont.woff') format('woff'),
// 	     url('../fonts/brandon-text/brandon-text-regular-webfont.ttf') format('truetype'),
// 	     url('../fonts/brandon-text/brandon-text-regular-webfont.svg#brandon_textregular') format('svg');
// 	font-weight: 400;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Brandon Text';
// 	src: url('../fonts/brandon-text/brandon-text-regular-italic-webfont.eot');
// 	src: url('../fonts/brandon-text/brandon-text-regular-italic-webfont.eot?#iefix') format('embedded-opentype'),
// 	     url('../fonts/brandon-text/brandon-text-regular-italic-webfont.woff2') format('woff2'),
// 	     url('../fonts/brandon-text/brandon-text-regular-italic-webfont.woff') format('woff'),
// 	     url('../fonts/brandon-text/brandon-text-regular-italic-webfont.ttf') format('truetype'),
// 	     url('../fonts/brandon-text/brandon-text-regular-italic-webfont.svg#brandon_textregular_italic') format('svg');
// 	font-weight: 400;
// 	font-style: italic;
// }

// @font-face {
// 	font-family: 'Brandon Text';
// 	src: url('../fonts/brandon-text/brandon-text-bold-webfont.eot');
// 	src: url('../fonts/brandon-text/brandon-text-bold-webfont.eot?#iefix') format('embedded-opentype'),
// 	     url('../fonts/brandon-text/brandon-text-bold-webfont.woff2') format('woff2'),
// 	     url('../fonts/brandon-text/brandon-text-bold-webfont.woff') format('woff'),
// 	     url('../fonts/brandon-text/brandon-text-bold-webfont.ttf') format('truetype'),
// 	     url('../fonts/brandon-text/brandon-text-bold-webfont.svg#brandon_textbold') format('svg');
// 	font-weight: 700;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Brandon Text';
// 	src: url('../fonts/brandon-text/brandon-text-bold-italic-webfont.eot');
// 	src: url('../fonts/brandon-text/brandon-text-bold-italic-webfont.eot?#iefix') format('embedded-opentype'),
// 	     url('../fonts/brandon-text/brandon-text-bold-italic-webfont.woff2') format('woff2'),
// 	     url('../fonts/brandon-text/brandon-text-bold-italic-webfont.woff') format('woff'),
// 	     url('../fonts/brandon-text/brandon-text-bold-italic-webfont.ttf') format('truetype'),
// 	     url('../fonts/brandon-text/brandon-text-bold-italic-webfont.svg#brandon_textbold_italic') format('svg');
// 	font-weight: 700;
// 	font-style: italic;
// }



// @font-face {
// 	font-family: 'Brandon Grotesque';
// 	src: url('../fonts/brandon-grotesque/brandon-grotesque-black-webfont.eot');
// 	src: url('../fonts/brandon-grotesque/brandon-grotesque-black-webfont.eot?#iefix') format('embedded-opentype'),
// 	     url('../fonts/brandon-grotesque/brandon-grotesque-black-webfont.woff2') format('woff2'),
// 	     url('../fonts/brandon-grotesque/brandon-grotesque-black-webfont.woff') format('woff'),
// 	     url('../fonts/brandon-grotesque/brandon-grotesque-black-webfont.ttf') format('truetype'),
// 	     url('../fonts/brandon-grotesque/brandon-grotesque-black-webfont.svg#brandon_grotesqueblack') format('svg');
// 	font-weight: 900;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Brandon Grotesque';
// 	src: url('../fonts/brandon-grotesque/brandon-grotesque-black-italic-webfont.eot');
// 	src: url('../fonts/brandon-grotesque/brandon-grotesque-black-italic-webfont.eot?#iefix') format('embedded-opentype'),
// 	     url('../fonts/brandon-grotesque/brandon-grotesque-black-italic-webfont.woff2') format('woff2'),
// 	     url('../fonts/brandon-grotesque/brandon-grotesque-black-italic-webfont.woff') format('woff'),
// 	     url('../fonts/brandon-grotesque/brandon-grotesque-black-italic-webfont.ttf') format('truetype'),
// 	     url('../fonts/brandon-grotesque/brandon-grotesque-black-italic-webfont.svg#brandon_grotesqueblack_italic') format('svg');
// 	font-weight: 900;
// 	font-style: italic;
// }