

$icomoon-icons: (

	arrow-right-long: "\e900",
	arrow-right: "\e901",
	arrow-right-display: "\e902"

);


@font-face {
	font-family: 'icomoon';
	src: url('#{$icomoon-font-folder-path}/icomoon.eot?y3hcw8');
	src: url('#{$icomoon-font-folder-path}/icomoon.eot?y3hcw8#iefix') format('embedded-opentype'),
	     url('#{$icomoon-font-folder-path}/icomoon.ttf?y3hcw8') format('truetype'),
	     url('#{$icomoon-font-folder-path}/icomoon.woff?y3hcw8') format('woff'),
	     url('#{$icomoon-font-folder-path}/icomoon.svg?y3hcw8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

.icomoon-icon {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@each $key, $color in $theme-colors {
		&.#{$key} { color: $color; }
	}
}

@each $key, $char in $icomoon-icons {
	.icomoon-icon-#{$key}:before { content: $char; }
}