

// Colors

$dark-blue:    #233053 !default;
$blue:         #108DBC !default;
$light-blue:   #D0E4F8 !default;
$x-light-blue: #F4F8FD !default;
$red:          #D44457 !default;
$green:        #AED540 !default;
$light-gray:   #E6EDF4 !default;
$gray:         #7F94AA !default;
$dark-gray:    #343a40 !default;
$ghost:        #F1F4F7 !default;
$white:        #FFFFFF !default;


$colors: () !default;
$colors: map-merge(
	(
		'dark-blue': $dark-blue,
		'blue': $blue,
		'light-blue': $light-blue,
		'x-light-blue': $x-light-blue,
		'red': $red,
		'green': $green,
		'light-gray': $light-gray,
		'gray': $gray,
		'dark-gray': $dark-gray,
		'ghost': $ghost,
		'white': $white
	),
	$colors
);

$primary:       $dark-blue !default;
$secondary:     $blue !default;
$light:         $white !default;
$dark:          $dark-gray !default;

$theme-colors: () !default;
$theme-colors: map-merge(
	$colors,
	$theme-colors
);

$yiq-contrasted-threshold:  168 !default; // acceptable values are between 0 and 255
$yiq-text-dark:             $dark !default;
$yiq-text-light:            $light !default;

$body-bg:                   $white !default;
$body-color:                $dark-blue !default;

$link-color:                $blue !default;
$link-decoration:           none !default;
$link-hover-color:          darken($link-color, 15%) !default;
$link-hover-decoration:     none !default;


// Spacing

$spacer: 1rem !default;

$paragraph-margin-bottom:   1rem !default;

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;

$grid-gutter-width:           2rem !default;

$container-padding-x: (
	xs: 1rem,
	sm: 1rem,
	md: 1.5rem,
	lg: 2rem,
	xl: 2.5rem
) !default;

$container-padding-x-px: (
	xs: rem-to-px(map-get($container-padding-x, xs)),
	sm: rem-to-px(map-get($container-padding-x, sm)),
	md: rem-to-px(map-get($container-padding-x, md)),
	lg: rem-to-px(map-get($container-padding-x, lg)),
	xl: rem-to-px(map-get($container-padding-x, xl))
) !default;

$container-max-widths: (
	sm: 1230px + rem-to-px(map-get($container-padding-x, sm) * 2),
	md: 1240px + rem-to-px(map-get($container-padding-x, md) * 2),
	lg: 1250px + rem-to-px(map-get($container-padding-x, lg) * 2),
	xl: 1260px + rem-to-px(map-get($container-padding-x, xl) * 2)
) !default;

$container-effective-max-width: 1260px;

$mobile-menu-width: 16rem;


// Components

$border-width:                1px !default;

$border-radius:               .1875rem !default;
$border-radius-lg:            .25rem !default;
$border-radius-sm:            .125rem !default;

$component-active-color:      $white !default;
$component-active-bg:         $blue !default;


// Typography

$font-family-sans-serif:      "proxima-nova", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-sans-serif-alt:  "semplicitapro", #{$font-family-sans-serif} !default;
$font-family-serif:           "utopia-std", serif;

$font-size-base:              1.25rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                1.875rem !default;
$font-size-sm:                1rem !default;

$font-weight-lighter:         100 !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-black:           900 !default;
$font-weight-bolder:          bolder !default;
$font-weight-base:            $font-weight-normal !default;

$line-height-base:            1.4 !default;
$line-height-lg:              1.6 !default;
$line-height-sm:              1.2 !default;

$h1-font-size:                3.75rem !default;
$h2-font-size:                2.5rem !default;
$h3-font-size:                2rem !default;
$h4-font-size:                1.75rem !default;
$h5-font-size:                1.5rem !default;
$h6-font-size:                1.25rem !default;

$headings-margin-bottom:      1rem !default;
$headings-font-family:        $font-family-sans-serif !default;
$headings-font-weight:        $font-weight-bold !default;
$headings-line-height:        1.2 !default;
$headings-color:              null !default;

$display1-weight:             $font-weight-bolder !default;
$display2-weight:             $font-weight-bolder !default;
$display3-weight:             $font-weight-bolder !default;
$display4-weight:             $font-weight-bolder !default;

$lead-font-size:              $font-size-lg !default;
$lead-font-weight:            $font-weight-base !default;


// Buttons + Forms

$input-btn-padding-y:         .8rem !default;
$input-btn-padding-x:         .8rem !default;
$input-btn-font-family:       $font-family-sans-serif !default;
$input-btn-font-size:         1rem !default;
$input-btn-line-height:       $line-height-sm !default;

$input-btn-focus-width:       0 !default;

$input-btn-padding-y-sm:      .4rem !default;
$input-btn-padding-x-sm:      .6rem !default;
$input-btn-font-size-sm:      0.75rem !default;
$input-btn-line-height-sm:    $line-height-sm !default;

$input-btn-padding-y-lg:      1.25rem !default;
$input-btn-padding-x-lg:      1.5rem !default;
$input-btn-font-size-lg:      1.5rem !default;
$input-btn-line-height-lg:    $line-height-sm !default;

$input-btn-border-width:      $border-width !default;


// Buttons

$btn-padding-y:               $input-btn-padding-y !default;
$btn-padding-x:               $input-btn-padding-x + .5rem !default;
$btn-font-family:             $font-family-sans-serif !default;
$btn-font-size:               $input-btn-font-size !default;
$btn-line-height:             $input-btn-line-height !default;

$btn-padding-y-sm:            $input-btn-padding-y-sm !default;
$btn-padding-x-sm:            $input-btn-padding-x-sm + .25rem !default;
$btn-font-size-sm:            $input-btn-font-size-sm !default;
$btn-line-height-sm:          $input-btn-line-height-sm !default;

$btn-padding-y-lg:            $input-btn-padding-y-lg !default;
$btn-padding-x-lg:            $input-btn-padding-x-lg + .75rem !default;
$btn-font-size-lg:            $input-btn-font-size-lg !default;
$btn-line-height-lg:          $input-btn-line-height-lg !default;

$btn-font-weight:             700 !default;
$btn-letter-spacing:          .05em !default;

$btn-border-radius:           0 !default;
$btn-border-radius-lg:        0 !default;
$btn-border-radius-sm:        0 !default;


// Forms

$form-control-selectors: (
	'input[type="text"]',
	'input[type="password"]',
	'input[type="datetime"]',
	'input[type="datetime-local"]',
	'input[type="date"]',
	'input[type="month"]',
	'input[type="time"]',
	'input[type="week"]',
	'input[type="number"]',
	'input[type="email"]',
	'input[type="url"]',
	'input[type="search"]',
	'input[type="tel"]',
	'input[type="color"]'
) !default;

$input-bg:                              transparent !default;
$input-disabled-bg:                     transparent !default;

$input-color:                           $primary !default;
$input-border-color:                    $primary !default;
$input-border-width:                    $input-btn-border-width !default;
$input-box-shadow:                      none !default;

$input-border-radius:                   0 !default;
$input-border-radius-lg:                0 !default;
$input-border-radius-sm:                0 !default;

$input-focus-border-color:              $secondary !default;

$input-placeholder-color:               rgba($primary, 0.5) !default;

$form-group-margin-bottom:              1.5rem !default;

$custom-select-border-radius:           $input-border-radius !default;


// Z-Index

$zindex-dropdown:                   1000 !default;
$zindex-sticky:                     1020 !default;
$zindex-fixed:                      1030 !default;
$zindex-modal-backdrop:             100000 !default;
$zindex-modal:                      100050 !default;
$zindex-popover:                    100060 !default;
$zindex-tooltip:                    100070 !default;


// Modals

$modal-content-color:               $body-color !default;
$modal-content-border-radius:       0 !default;

$modal-title-line-height:           $headings-line-height !default;


// Alerts

$alert-padding-y:                   1.25rem !default;
$alert-padding-x:                   1.25rem !default;


// Alerts

$alert-border-radius:               0 !default;


// Animations

@keyframes spinner {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}