
#header-primary-navigation {
    .mega-menu {
        .sub-menu-section.disabled {
            display: none;
        }
        
        .mega-menu-item {
            &.cta {
                align-items: center;
                margin-left: 10px;
                margin-right: 10px;

                > a {
                    background-color: $red;
                    font-size: 11px;
                    font-weight: 500;
                    letter-spacing: 1.2px;
                    text-transform: uppercase;
                    transition: background-color .15s;

                    &:hover {
                        background-color: darken($red, 10%);
                    }
                    
                    .label::after {
                        display: none;
                    }
                }
            }
        }
    }
}
