
body {
	line-height: $line-height-lg;
}

a {
	transition: color .15s;
}

img {
	display: block;
	max-width: 100%;
	width: auto;
	height: auto;
}

.screen-reader-text {
	@extend .sr-only;
}


@each $size, $value in $grid-breakpoints {
	.position-#{$size}-sticky {
		@include media-breakpoint-up($size) {
			position: sticky;
			top: 0;
		}
	}
}