
@import '../../../../norcal-sbdc/assets/src/scss/config/_functions.scss';
@import '../../../../norcal-sbdc/assets/src/scss/config/_variables.scss';

@import 'imports/_variables.scss';

@import '../../../../norcal-sbdc/assets/src/scss/editor-style.scss';

@import 'imports/_fonts.scss';
@import 'imports/_common.scss';



.wp-block[data-type="crown-blocks/header"] > .crown-block-editor-container > .wp-block-crown-blocks-header > hr {
	height: 1.25rem;
}