

#index-entries {
	h1 {
		text-align: center;
		margin-bottom: 2rem;
	}
	.entries-list {
		article {
			padding: 3rem 0;
			border-bottom: 4px solid $primary;
			&:first-child {
				border-top: 4px solid $primary;
				margin-top: 3rem;
			}
			.entry-header {
				margin-bottom: 0.5rem;
			}
			.entry-title {
				margin-bottom: 0;
				a {
					color: inherit;
				}
			}
			.entry-link {
				margin-bottom: 0;
				a {
					display: inline-block;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					max-width: 100%;
					vertical-align: middle;
				}
			}
		}
	}
	.pagination-wrapper {
		margin-top: 3rem;
	}
}