
body.single-post {
	#main {
		position: relative;
	}
	#main-article {
		.entry-footer {
			border-top: 1px solid #ddd;
			margin-top: 3rem;
			padding-top: 2rem;
			font-size: 0.875rem;
			line-height: $line-height-sm;
			> .inner {
				@include media-breakpoint-up(sm) {
					display: flex;
					margin-left: -15px;
					margin-right: -15px;
				}
			}
			.entry-author,
			.entry-tags {
				@include media-breakpoint-up(sm) {
					padding-left: 15px;
					padding-right: 15px;
				}
				.label {
					font-size: inherit;
					margin-bottom: 4px;
				}
				.value {
					margin: 0;
				}
			}
			.entry-author {
				flex: 1 1 auto;
				.value {
					font-family: $headings-font-family;
					font-weight: $headings-font-weight;
					text-transform: uppercase;
					a {
						color: inherit;
						text-decoration: none;
					}
				}
			}
			.entry-tags {
				flex: 0 0 percentage(2 / 3);
				margin-top: 1rem;
				@include media-breakpoint-up(sm) {
					margin-top: 0;
				}
				@include media-breakpoint-up(md) {
					flex: 0 0 percentage(3 / 4);
				}
				.value {
					list-style: none;
					padding: 0;
					margin: 0 -2px;
					display: flex;
					flex-wrap: wrap;
					li {
						margin: 4px 2px 0;
					}
					a {
						display: inline-block;
						font-family: $headings-font-family;
						font-weight: $headings-font-weight;
						text-transform: uppercase;
						color: #fff;
						background-color: $secondary;
						padding: .4em .6em;
						text-decoration: none;
					}
				}
			}
		}
		> .social-sharing-links {
			margin-top: 3rem;
			@include media-breakpoint-up(xl) {
				position: absolute;
				left: 60px;
				top: 0;
				margin-top: 105px;
				z-index: 10;
				opacity: 0;
				transform: translateY(40px);
				transition: opacity .2s, transform .2s ease-out;
				text-align: center;
				&.initialized {
					transform: none;
					opacity: 1;
				}
			}
			h4 {
				font-size: 0.875rem;
				text-transform: uppercase;
				margin-bottom: 10px;
			}
			.menu {
				list-style: none;
				padding: 0;
				margin: -5px;
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				@include media-breakpoint-up(xl) {
					width: 36px;
					margin: -5px auto;
				}
				.menu-item {
					padding: 5px;
					@include media-breakpoint-up(xl) {
						margin-top: 10px;
					}
					a {
						display: block;
					}
					.icon {
						display: block;
						width: 1.625rem;
						height: 1.625rem;
						border-radius: 100%;
						background-color: $blue;
						display: flex;
						align-items: center;
						justify-content: center;
						svg {
							width: 55%;
							max-height: 55%;
							fill: $white;
						}
					}
					.label {
						display: none;
					}
				}
			}
		}
	}
	#main-content > .wp-block-crown-blocks-promo.alignfull:first-child,
	#main .container > .inner > .wp-block-crown-blocks-promo.alignfull:first-child {
		margin-bottom: 40px;
		@include media-breakpoint-up(md) {
			margin-bottom: 60px;
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: 80px;
		}
		@include media-breakpoint-up(xl) {
			margin-bottom: 100px;
		}
	}
	#related-content {
		margin-top: 40px;
		margin-bottom: -40px;
		@include media-breakpoint-up(md) {
			margin-top: 60px;
			margin-bottom: -60px;
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: -80px;
		}
		@include media-breakpoint-up(xl) {
			margin-bottom: -100px;
		}
	}
	#main-gated-content {
		.gated-content-preview {
			position: relative;
			overflow: hidden;
			margin-top: -40px;
			padding-top: 40px;
			left: 50%;
			width: 100vw;
			transform: translateX(-50%);
			@each $breakpoint, $padding-x in $container-padding-x {
				@include media-breakpoint-up($breakpoint, $grid-breakpoints) {
					padding-left: $padding-x;
					padding-right: $padding-x;
				}
			}
			@include media-breakpoint-up(md) {
				margin-top: -60px;
				padding-top: 60px;
			}
			@include media-breakpoint-up(lg) {
				margin-top: -80px;
				padding-top: 80px;
			}
			@include media-breakpoint-up(xl) {
				margin-top: -100px;
				padding-top: 100px;
			}
			&:after {
				content: '';
				position: absolute;
				display: block;
				left: 0;
				bottom: 0;
				right: 0;
				height: 300px;
				background-image: linear-gradient(fade-out(#fff, 1), #fff);
			}
			> .inner {
				// height: 200px;
				max-width: 900px;
				margin: 0 auto;
			}
			#main-article > .social-sharing-links,
			#main-article > .entry-footer {
				display: none;
			}
		}
		.gated-content-form {
			margin-top: 2rem;
			> .inner {
				background-color: $ghost;
				padding: 30px 20px;
				@include media-breakpoint-up(sm) {
					padding: 30px 30px;
				}
				@include media-breakpoint-up(md) {
					padding: 30px 40px;
				}
			}
			.disclaimer {
				font-size: 0.75rem;
				line-height: $line-height-sm;
				margin-top: 1rem;
				margin-bottom: 0;
				> *:last-child {
					margin-bottom: 0;
				}
				a {
					color: inherit;
					text-decoration: underline;
				}
			}
		}
	}
}


body.single-team_member {
	#main {
		.container > .inner {
			max-width: none;
		}
	}
	article.type-team_member {
		width: 100%;
		&.flipped {
			.entry-photo-overview {
				order: 10;
			}
		}
		&[data-color="dark-blue"] > .inner { background-color: $dark-blue; }
		&[data-color="blue"] > .inner { background-color: $blue; }
		&[data-color="red"] > .inner { background-color: $red; }
		&[data-color="gray"] > .inner { background-color: $gray; }
		&[data-color="dark-gray"] > .inner { background-color: $dark-gray; }
		> .inner {
			background-color: $red;
			color: #fff;
			position: relative;
			width: 100%;
			@include media-breakpoint-up(md) {
				display: flex;
			}
		}
		a {
			color: inherit;
		}
		.entry-photo-overview {
			padding: 2rem;
			background-color: rgba(#fff, .1);
			@include media-breakpoint-up(md) {
				width: percentage(5 / 12);
			}
			@include media-breakpoint-up(lg) {
				width: percentage(1 / 3);
			}
		}
		.entry-headshot-photo {
			margin: -2rem -2rem 2rem;
			width: auto;
			> .inner {
				height: 0;
				position: relative;
				padding-top: 125%;
				background-color: $gray;
				&:after {
					content: '';
					display: block;
					width: 2rem;
					height: 2rem;
					border: 4px solid #fff;
					border-radius: 10rem;
					border-top-color: transparent;
					position: absolute;
					left: 50%;
					top: 50%;
					margin-left: -1rem;
					margin-top: -1rem;
					animation: spinner 1s infinite linear;
					transition: opacity .2s, visibility 0s .2s;
					opacity: 0;
					visibility: hidden;
					z-index: 10;
				}
			}
			.image {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				transition: opacity .2s, filter .2s;
				img {
					display: none;
				}
			}
		}
		.entry-header {
			margin-bottom: 1rem;
			border-bottom: 4px solid #fff;
			padding-bottom: .5rem;
			@include media-breakpoint-up(md) {
				padding-bottom: .75rem;
				border-bottom-width: 6px;
			}
			@include media-breakpoint-up(xl) {
				padding-top: 1rem;
			}
		}
		.entry-title {
			font-size: 1.5rem;
			margin-bottom: .25rem;
			@include media-breakpoint-up(md) {
				font-size: 2rem;
			}
			@include media-breakpoint-up(xl) {
				font-size: 3rem;
			}
		}
		.entry-job-title {
			line-height: $line-height-sm;
			font-size: 0.875rem;
			font-family: $font-family-serif;
			font-style: italic;
			margin-bottom: 0;
			@include media-breakpoint-up(md) {
				font-size: 1.25rem;
			}
			@include media-breakpoint-up(xl) {
				font-size: 1.5rem;
			}
		}
		.entry-contact-links {
			list-style: none;
			padding: 0;
			margin: 0;
			margin-top: 1.5rem;
			li {
				&.linkedin a:before { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='47.223' height='47.414' viewBox='0 0 47.223 47.414'%3E%3Cpath id='Icon_metro-linkedin' data-name='Icon metro-linkedin' d='M41.862,1.928H10.5A7.971,7.971,0,0,0,2.571,9.892V41.378A7.971,7.971,0,0,0,10.5,49.342H41.862a7.971,7.971,0,0,0,7.932-7.964V9.892A7.971,7.971,0,0,0,41.862,1.928ZM20.28,40.452h-5.9V19.708h5.9ZM17.328,16.745a2.963,2.963,0,1,1,2.951-2.963A2.957,2.957,0,0,1,17.328,16.745ZM40.94,40.452h-5.9V28.6a2.951,2.951,0,1,0-5.9,0V40.452h-5.9V19.708h5.9v3.68c1.217-1.679,3.078-3.68,5.165-3.68,3.668,0,6.641,3.317,6.641,7.408Z' transform='translate(-2.571 -1.928)' fill='%23FFFFFF'/%3E%3C/svg%3E%0A"); }
			}
			a {
				display: inline-flex;
				align-items: center;
				padding: 0;
				transition: opacity .15s;
				&:hover {
					opacity: .8;
				}
				&:before {
					content: '';
					display: block;
					width: 2em;
					height: 2em;
					margin-right: .4em;
					background-position: center;
					background-size: contain;
					background-repeat: no-repeat;
				}
			}
		}
		.entry-centers {
			margin-bottom: 0;
			margin-top: 1.5rem;
			@include media-breakpoint-up(md) {
				margin-bottom: 1rem;
			}
			span {
				display: inline-block;
				line-height: $line-height-sm;
				font-weight: 700;
				font-size: 0.625rem;
				letter-spacing: .05em;
				text-transform: uppercase;
				border-radius: 3px;
				border: 1px solid #fff;
				padding: .5rem .75rem;
				@include media-breakpoint-up(md) {
					font-size: 0.75rem;
					border-width: 2px;
				}
			}
		}
		.entry-contents {
			padding: 2rem;
			@include media-breakpoint-up(md) {
				width: percentage(7 / 12);
			}
			@include media-breakpoint-up(lg) {
				width: percentage(2 / 3);
				display: flex;
				flex-direction: column;
				padding: 3rem;
			}
			> .push {
				flex: 1 1 auto;
				+ .entry-expertise {
					margin-top: 2rem;
				}
			}
		}
		.entry-bio {
			font-family: $font-family-serif;
			font-size: 1rem;
			font-style: italic;
			@include media-breakpoint-up(lg) {
				font-size: 1.25rem;
			}
			.bio-heading {
				font-size: 1.25rem;
				font-style: normal;
			}
		}
		.entry-expertise {
			margin-bottom: 0;
			.label {
				display: block;
				font-size: 1.25rem;
				font-weight: 700;
				line-height: $line-height-sm;
				margin-bottom: .5rem;
			}
			.expertise {
				display: inline-block;
				line-height: $line-height-sm;
				font-weight: 700;
				font-size: 0.625rem;
				letter-spacing: .05em;
				text-transform: uppercase;
				border-radius: 3px;
				border: 1px solid #fff;
				padding: .5rem .75rem;
				@include media-breakpoint-up(md) {
					font-size: 0.75rem;
					border-width: 2px;
				}
			}
		}
	}
}