.login h1 a {
  background-image: none;
  width: auto;
  overflow: visible;
  text-indent: 0;
  height: 90px;
  position: relative;
  outline: none; }

.login h1 img {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center; }
