

$gform-gutter-width: 10px;

.gform_wrapper {
	margin-bottom: $spacer;
	text-align: left;
	@include clearfix();

	&.gform_multi_column_wrapper,
	.gform_page_multi_column {
		$gutter: $grid-gutter-width;
		.gform_body,
		.gform_page_fields {
			@include media-breakpoint-up(md) {
				display: flex;
				margin-left: -$gutter / 2;
				margin-right: -$gutter / 2;
			}
		}
		ul.gform_fields {
			@include media-breakpoint-up(md) {
				width: 100%;
				padding-left: $gutter / 2;
				padding-right: $gutter / 2;
			}
		}
		&.gform_column_count_2_wrapper ul.gform_fields,
		.gform_page_column_count_2 ul.gform_fields {
			@include media-breakpoint-up(md) { width: percentage(1 / 2); }
		}
		&.gform_column_count_3_wrapper ul.gform_fields,
		.gform_page_column_count_3 ul.gform_fields {
			@include media-breakpoint-up(md) { width: percentage(1 / 3); }
		}
		&.gform_column_count_4_wrapper ul.gform_fields,
		.gform_page_column_count_4 ul.gform_fields {
			@include media-breakpoint-up(md) { width: percentage(1 / 4); }
		}
		.gform_footer.left_label {
			float: none;
			width: auto;
			margin-left: 0;
			margin-right: 0;
			padding-left: 0;
			padding-right: 0;
		}
	}

	.validation_error {
		@extend .alert;
		@extend .alert-danger;
	}

}

.gf_page_steps {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -.25rem 1rem;
	.gf_step {
		margin: 0 .25rem .5rem;
		border: 0.125rem solid $gray;
		border-radius: 100rem;
		font-size: 0.75rem;
		line-height: $line-height-sm;
		padding: .5rem .75rem;
		color: $gray;
		&.gf_step_active {
			color: $blue;
			border-color: $blue;
		}
		&.gf_step_completed {
			color: #00C77B;
			border-color: #00C77B;
			&:after {
				content: '';
				background-image: escape-svg(url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="17.62" height="17.271" viewBox="0 0 17.62 17.271"><g id="Icon_feather-check-circle" data-name="Icon feather-check-circle" transform="translate(-1.795 -1.826)"><path id="Path_6555" data-name="Path 6555" d="M18,9.805v.69A7.5,7.5,0,1,1,13.552,3.64" transform="translate(0 0)" fill="none" stroke="#00c77b" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/><path id="Path_6556" data-name="Path 6556" d="M23.25,6l-7.5,7.507-2.25-2.25" transform="translate(-5.25 -1.505)" fill="none" stroke="#00c77b" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></g></svg>'));
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				width: 1em;
				height: 1em;
				display: inline-block;
				line-height: 1;
				margin-left: .5em;
				vertical-align: top;
				margin-top: .05em;
			}
		}
		.gf_step_label {
			margin-left: -.25em;
		}
		.gf_step_number {
			display: none;
		}
	}
}

.gform_fields {
	@include list-unstyled();
	margin: 0;

	&.left_label {
		$gutter: 20px;
		.gfield {
			@include media-breakpoint-up(md) {
				display: flex;
				margin-left: -$gutter / 2;
				margin-right: -$gutter / 2;
			}
			&.gsection {
				margin-left: 0;
				margin-right: 0;
			}
		}
		.gfield_label {
			@include media-breakpoint-up(md) {
				width: percentage(4 / 12);
				padding-left: $gutter / 2;
				padding-right: $gutter / 2;
				text-align: right;
			}
			@include media-breakpoint-up(lg) { width: percentage(3 / 12); }
		}
		.ginput_container,
		.gfield_description {
			@include media-breakpoint-up(md) {
				width: percentage(8 / 12);
				padding-left: $gutter / 2;
				padding-right: $gutter / 2;
			}
			@include media-breakpoint-up(lg) { width: percentage(9 / 12); }
		}
		.gfield_description {
			@include media-breakpoint-up(md) { margin-left: percentage(4 / 12); }
			@include media-breakpoint-up(lg) { margin-left: percentage(3 / 12); }
		}
		@include media-breakpoint-up(md) {
			.gfield_label,
			.gfield_radio,
			.gfield_checkbox {
				padding-top: 8px;
			}
		}
		
	}

	&.description_above {
		.gfield_description {
			margin: -5px 0 5px;
			&.validation_message {
				margin-top: 5px;
				margin-bottom: 10px;
			}
		}
	}

}

.gfield {
	@extend .form-group;
	&.gfield_error {

		label,
		.validation_message {
			color: $danger;
		}

		@each $form-control-selector in $form-control-selectors {
			#{$form-control-selector} {
				box-shadow: inset 0 -2px $red;
				&:focus {
					box-shadow: inset 0 -2px $red;
				}
			}
		}

	}

	&.gfield_visibility_hidden {
		display: none;
	}

	&.no-label,
	&.hidden_label {
		.gfield_label {
			display: none;
		}
	}

	&.gform_hidden {
		display: none;
	}

	&.field_description_above {
		.gfield_description {
			margin: 0 0 5px;
			&.validation_message {
				margin-top: 5px;
				margin-bottom: 10px;
			}
		}
	}

	&.toggle {
		@include media-breakpoint-up(lg) {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}
		&.hidden_label {
			.gfield_label {
				display: none;
			}
			.ginput_container_radio {
				flex: 1 1 auto;
			}
		}
		&.field_description_above {
			.gfield_description {
				margin-bottom: 1rem;
				&.validation_message {
					margin-bottom: 10px;
				}
			}
			.ginput_container_radio {
				flex: 1 1 auto;
			}
		}
		.gfield_label {
			text-align: center;
			font-size: 1.5rem;
			font-weight: 400;
			display: block;
			margin-bottom: 1rem;
			@include media-breakpoint-up(lg) {
				flex: 1 1 auto;
				margin-right: 1rem;
				margin-bottom: 0;
				text-align: left;
			}
		}
		.gfield_radio {
			display: flex;
			justify-content: center;
			align-items: center;
			li {
				margin: 0;
				padding: 0;
				position: relative;
				&:first-child {
					padding-right: 4rem;
					&:before {
						content: '';
						display: block;
						position: absolute;
						width: 3rem;
						height: 1.5rem;
						border-radius: 100rem;
						border: 1px solid $primary;
						right: calc(.5rem - 1px);
					}
					input[type=radio] {
						right: calc(.5rem - 1px + 1.5rem);
					}
					label {
						text-align: right;
						&:before {
							right: calc(.5rem - 1px + 1.5rem + 3px);
						}
					}
				}
				input[type=radio] {
					position: absolute;
					right: calc(100% + .5rem - 1px);
					width: 1.5rem;
					height: 1.5rem;
					top: 50%;
					margin-top: -0.75rem;
					opacity: .0;
					z-index: 2;
					cursor: pointer;
					&:checked + label {
						opacity: 1;
						&:before {
							opacity: 1;
						}
					}
				}
				label {
					font-size: 1.25rem;
					opacity: .6;
					transition: opacity .2s;
					cursor: pointer;
					&:hover {
						opacity: 1;
					}
					&:before {
						content: '';
						position: absolute;
						right: calc(100% + .5rem - 1px + 3px);
						width: calc(1.5rem - 6px);
						height: calc(1.5rem - 6px);
						top: 50%;
						margin-top: calc(-0.75rem + 3px);
						background-color: $blue;
						opacity: 0;
						transition: opacity .2s;
						border-radius: 100rem;
						border: 3px solid transparent;
					}
				}
			}
		}
		.gfield_description {
			margin-top: 0.5rem;
			text-align: center;
			width: 100%;
		}
	}

	&.signature {
		.ginput_container_text {
			position: relative;
			&:before {
				content: '×';
				position: absolute;
				line-height: 1;
				font-size: 2rem;
				left: 0;
				bottom: .4rem;
				font-weight: 300;
				opacity: .5;
			}
			input[type="text"] {
				padding: .5rem 0;
				padding-left: 1.5rem;
				height: auto;
				font-family: Brush Script MT, Brush Script Std, cursive;
				font-size: 2rem;
			}
		}
	}

}

.gfield_required {
	color: $danger;
	margin-left: 1px;
}

.gform_description {
	display: block;
	margin: 0 0 $paragraph-margin-bottom;
}

.ginput_complex {
	@include clearfix();
	label {
		font-size: $font-size-sm;
		font-weight: $font-weight-base;
		margin: 0;
		margin-top: .3rem;
		color: inherit;
	}
}
.ginput_full,
.ginput_left,
.ginput_right {
	display: block;
	margin-bottom: 5px;
}
@include media-breakpoint-up(md) {
	$gutter: 20px;
	.ginput_full {
		clear: both;
	}
	.ginput_left,
	.ginput_right,
	.gf_left_half,
	.gf_right_half,
	.ginput_complex.has_first_name.no_middle_name.has_last_name.no_suffix > .name_first,
	.ginput_complex.has_first_name.no_middle_name.has_last_name.no_suffix > .name_last {
		width: 50%;
	}
	.ginput_left,
	.gf_left_half,
	.ginput_complex.has_first_name.no_middle_name.has_last_name.no_suffix > .name_first {
		float: left;
		clear: left;
		padding-right: ($gutter / 2);
	}
	.ginput_right,
	.gf_right_half,
	.ginput_complex.has_first_name.no_middle_name.has_last_name.no_suffix > .name_last {
		float: right;
		clear: right;
		padding-left: ($gutter / 2);
	}
	.ginput_complex > .address_state,
	.ginput_complex > .address_zip {
		float: left;
		clear: none;
		width: 25%;
		padding-right: ($gutter / 2);
		padding-left: ($gutter / 2);
	}
	.ginput_complex > .address_zip {
		padding-right: 0;
	}
}

.gfield_radio li { @extend .form-check; }
.gfield_checkbox li { @extend .form-check; }
.gfield_radio,
.gfield_checkbox {
	@include list-unstyled();
	margin: 0;
	li {
		margin-top: 0;
		margin-bottom: .5rem;
		padding-left: 1.5rem;
		label {
			padding-left: 0;
			margin-bottom: 0;
			color: inherit;
			font-size: 1rem;
			font-weight: 400;
		}
	}
	input[type="radio"],
	input[type="checkbox"] {
		float: left;
		margin-left: -1.5rem;
		margin-top: .05rem;
		width: 1rem;
		height: 1rem;
	}
}

.gfield_description {
	@extend .form-text;
	color: $text-muted;
	font-size: 0.75rem;
	& + &,
	.ginput_complex + & {
		margin-top: -5px;
	}
}

.gsection_title {
	margin-bottom: $paragraph-margin-bottom;
	font-size: ($font-size-base * 1.5);
	line-height: inherit;
	color: $black;
	border-bottom: 1px solid $gray-200;
}

.gform_footer {
	&.left_label {
		$gutter: 20px;
		@include media-breakpoint-up(md) {
			display: flex;
			margin-left: -$gutter / 2;
			margin-right: -$gutter / 2;
		}
		button[type=submit] {
			@include media-breakpoint-up(md) {
				margin-left: percentage(4 / 12);
				margin-right: 10px;
				position: relative;
				left: ($gutter / 2);
			}
			@include media-breakpoint-up(lg) {
				margin-left: percentage(3 / 12);
			}
		}
	}
	button[type=submit] {
		@extend .btn;
		@extend .btn-primary;
		display: block;
		width: 100%;
		@include media-breakpoint-up(sm) {
			display: inline-block;
			width: auto;
		}
	}
}
.gform_page_footer {
	.gform_next_button,
	.gform_previous_button,
	button[type=submit] {
		@extend .btn;
		@extend .btn-primary;
	}
}

.gform_ajax_spinner {
	display: inline-block;
	margin-left: 10px;
}

#gforms_confirmation_message {
	@extend .alert;
	@extend .alert-success;
}



.simple-subscribe-form_wrapper {
	form {
		display: flex;
		flex-wrap: wrap;
		> * {
			flex: 0 0 100%;
		}
	}
	.gform_body {
		flex: 1 1 auto;
	}
	input[type="text"] {
		box-shadow: inset 0 -2px #1B406F;
	}
	.gform_footer {
		flex: 0 0 3.5rem;
		padding-top: 1.375rem;
		button[type=submit] {
			@extend .btn-secondary;
			height: 2.925rem;
			display: block;
			width: 100%;
			overflow: hidden;
			padding: 0;
			text-indent: -100000px;
			position: relative;
			&:after {
				@include icon(map-get($icomoon-icons, arrow-right-long), icomoon);
				position: absolute;
				text-indent: 0;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 1.25rem;
			}
		}
		.gform_ajax_spinner {
			display: none !important;
		}
	}
}

.general-contact-form_wrapper,
.event-registration-form_wrapper {
	.gform_footer {
		button[type=submit] {
			@extend .btn-red;
			@extend .btn-lg;
			@extend .btn-block;
		}
	}
}

.application-form_wrapper {
	.gsection:first-child {
		.gsection-title {
			margin-top: 0;
		}
	}
	.gsection_title {
		font-weight: 400;
		text-align: center;
		border-bottom: none;
		margin-top: 2rem;
	}
	.gform_page_footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.gform_next_button,
		.gform_previous_button,
		button[type=submit] {
			@extend .btn-red;
			@extend .btn-lg;
			display: block;
			width: 100%;
			text-transform: uppercase;
			letter-spacing: .1em;
			margin-bottom: .5rem;
		}
		.gform_previous_button {
			width: calc(50% - .5rem);
			margin-right: .5rem;
			+ .gform_next_button,
			+ button[type=submit] {
				width: calc(50% - .5rem);
				margin-left: .5rem;
			}
		}
	}
}