

h1, .h1 {
	font-family: $font-family-sans-serif-ext;
	font-weight: 700;
}



.wp-block-crown-blocks-header {
	padding-bottom: 1.25rem;
	> .hr-container {
		height: 1.25rem;
	}
	> hr,
	> .hr-container > hr {
		transform: rotateY(180deg);
		height: 1.25rem;
	}
}