

h1, .h1 {
	font-family: $font-family-sans-serif-ext;
	font-weight: 700;
}



.btn-link {
	font-family: $font-family-sans-serif-ext;
	font-weight: 700;
	text-transform: none;
	letter-spacing: 0;
	&, &:hover {
		color: $body-color;
	}
	.text-color-light & {
		&, &:hover {
			color: #fff;
		}
	}
	.text-color-dark & {
		&, &:hover {
			color: $body-color;
		}
	}
	&.btn-has-arrow-icon {
		margin-right: 2em;
		&:after {
			margin-right: -1.55em;
			content: '>>>';
			font-family: $font-family-sans-serif-ext;
			font-weight: 700;
			top: -.1em;
		}
	}
}



.simple-subscribe-form_wrapper {
	.text-color-light & {
		input[type=text] {
			box-shadow: inset 0 -2px #fff;
			color: #fff;
			&::placeholder {
				color: rgba(#fff, .5);
			}
		}
		.gfield.gfield_error label,
		.gfield.gfield_error .validation_message {
			color: #fff;
		}
	}
	.text-color-dark & {
		input[type=text] {
			box-shadow: inset 0 -2px $dark-blue;
			color: $dark-gray;
			&::placeholder {
				color: rgba($dark-gray, .5);
			}
		}
	}
	form {
		display: block;
		position: relative;
	}
	input[type=text] {
		box-shadow: inset 0 -2px $dark-blue;
		color: $dark-gray;
		font-size: 1.5rem;
		height: auto;
		&::placeholder {
			color: rgba($dark-gray, .5);
		}
	}
	.gfield:last-child {
		input[type=text] {
			padding-right: 2.5rem;
		}
	}
	.ginput_container_email {
		position: relative;
		&:before {
			content: '';
			background-image: escape-svg(url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#{#ffffff}" class="bi bi-envelope" viewBox="0 0 16 16"><path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/></svg>'));
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			width: 2rem;
			height: 2rem;
			display: block;
			position: absolute;
			left: 0;
			top: .6rem;
		}
		input[type=text] {
			padding-left: 3rem;
		}
	}
	.gform_footer {
		padding-top: 0;
		position: absolute;
		right: 0;
		bottom: 4px;
		width: 1.5rem;
		button[type=submit] {
			&, &:hover, &:active, &:focus {
				background-color: transparent !important;
				border: none;
			}
			&:after {
				@include icon(map-get($icomoon-icons, arrow-right-display), icomoon);
				display: flex;
				justify-content: center;
				align-items: center;
				line-height: 1;
				font-size: 1.5rem;
			}
		}
	}
}



.wp-block-crown-blocks-header {
	padding-bottom: 1.25rem;
	> .hr-container {
		height: 1.25rem;
	}
	> hr,
	> .hr-container > hr {
		height: 1.25rem;
	}
}

.wp-block-crown-blocks-nav-menu {
	font-family: $font-family-mono;
	.menu-title {
		font-family: $font-family-mono;
		font-weight: 500;
	}
	.menu {
		.wp-block-crown-blocks-dropdown-nav-menu-item {
			padding-left: 1.5rem;
			position: relative;
			&:before {
				content: '\2014';
				position: absolute;
				left: 0;
				top: 0;
			}
			&.current-menu-item {
				font-weight: 500;
			}
			.menu-item-link {
				color: inherit;
			}
		}
	}
}

.wp-block-crown-blocks-champion-finder {
	.location-search-form {
		input[type=text] {
			font-family: $font-family-mono;
		}
		.form-footer {
			button[type=submit] {
				&:before {
					content: '';
					background-image: escape-svg(url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#{$bright-blue}" class="bi bi-chevron-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>'));
					background-size: 1.5rem;
					background-position: center;
					background-repeat: no-repeat;
				}
				&:after {
					color: $bright-blue;
				}
			}
		}
	}
	.results {
		.champion {
			font-family: $font-family-mono;
			line-height: 1.1;
			&.active {
				.email a {
					color: $bright-blue;
					&:hover {
						color: lighten($bright-blue, 15%);
					}
				}
			}
			h4 {
				font-weight: 500;
			}
			.email a {
				color: rgba($bright-blue, .75);
				text-decoration: underline;
			}
		}
	}
}