

h1, .h1 {
	font-family: $font-family-sans-serif-ext;
	font-weight: 700;
}



.btn-link {
	font-family: $font-family-sans-serif-ext;
	font-weight: 700;
	text-transform: none;
	letter-spacing: 0;
	&, &:hover {
		color: $body-color;
	}
	.text-color-light & {
		&, &:hover {
			color: #fff;
		}
	}
	.text-color-dark & {
		&, &:hover {
			color: $body-color;
		}
	}
	&.btn-has-arrow-icon {
		margin-right: 2em;
		&:after {
			margin-right: -1.55em;
			content: '>>>';
			font-family: $font-family-sans-serif-ext;
			font-weight: 700;
			top: -.1em;
		}
	}
}



.wp-block-crown-blocks-header {
	padding-bottom: 1.25rem;
	> .hr-container {
		height: 1.25rem;
	}
	> hr,
	> .hr-container > hr {
		transform: rotateY(180deg);
		height: 1.25rem;
	}
}

.wp-block-crown-blocks-champion-finder {
	.location-search-form {
		input[type=text] {
			font-family: $font-family-mono;
		}
		.form-footer {
			button[type=submit] {
				&:before {
					content: '';
					background-image: escape-svg(url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#{$bright-blue}" class="bi bi-chevron-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>'));
					background-size: 1.5rem;
					background-position: center;
					background-repeat: no-repeat;
				}
				&:after {
					color: $bright-blue;
				}
			}
		}
	}
	.results {
		.champion {
			font-family: $font-family-mono;
			line-height: 1.1;
			&.active {
				.email a {
					color: $bright-blue;
					&:hover {
						color: lighten($bright-blue, 15%);
					}
				}
			}
			h4 {
				font-weight: 500;
			}
			.email a {
				color: rgba($bright-blue, .75);
				text-decoration: underline;
			}
		}
	}
}