
// @font-face {
// 	font-family: 'Founders Grotesk';
// 	src: url('../fonts/founders-grotesk/FoundersGrotesk-Light.woff2') format('woff2'),
// 	     url('../fonts/founders-grotesk/FoundersGrotesk-Light.woff') format('woff');
// 	font-weight: 300;
// 	font-style: normal;
// }
// @font-face {
// 	font-family: 'Founders Grotesk';
// 	src: url('../fonts/founders-grotesk/FoundersGrotesk-LightItalic.woff2') format('woff2'),
// 	     url('../fonts/founders-grotesk/FoundersGrotesk-LightItalic.woff') format('woff');
// 	font-weight: 300;
// 	font-style: italic;
// }
@font-face {
	font-family: 'Founders Grotesk';
	src: url('../fonts/founders-grotesk/FoundersGrotesk-Regular.woff2') format('woff2'),
	     url('../fonts/founders-grotesk/FoundersGrotesk-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Founders Grotesk';
	src: url('../fonts/founders-grotesk/FoundersGrotesk-RegularItalic.woff2') format('woff2'),
	     url('../fonts/founders-grotesk/FoundersGrotesk-RegularItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Founders Grotesk';
	src: url('../fonts/founders-grotesk/FoundersGrotesk-Medium.woff2') format('woff2'),
	     url('../fonts/founders-grotesk/FoundersGrotesk-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Founders Grotesk';
	src: url('../fonts/founders-grotesk/FoundersGrotesk-MediumItalic.woff2') format('woff2'),
	     url('../fonts/founders-grotesk/FoundersGrotesk-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}
// @font-face {
// 	font-family: 'Founders Grotesk';
// 	src: url('../fonts/founders-grotesk/FoundersGrotesk-Semibold.woff2') format('woff2'),
// 	     url('../fonts/founders-grotesk/FoundersGrotesk-Semibold.woff') format('woff');
// 	font-weight: 600;
// 	font-style: normal;
// }
// @font-face {
// 	font-family: 'Founders Grotesk';
// 	src: url('../fonts/founders-grotesk/FoundersGrotesk-SemiboldItalic.woff2') format('woff2'),
// 	     url('../fonts/founders-grotesk/FoundersGrotesk-SemiboldItalic.woff') format('woff');
// 	font-weight: 600;
// 	font-style: italic;
// }
@font-face {
	font-family: 'Founders Grotesk';
	src: url('../fonts/founders-grotesk/FoundersGrotesk-Bold.woff2') format('woff2'),
	     url('../fonts/founders-grotesk/FoundersGrotesk-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Founders Grotesk';
	src: url('../fonts/founders-grotesk/FoundersGrotesk-BoldItalic.woff2') format('woff2'),
	     url('../fonts/founders-grotesk/FoundersGrotesk-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}



@font-face {
	font-family: 'Founders Grotesk Mono';
	src: url('../fonts/founders-grotesk-mono/FoundersGroteskMono-Light.woff2') format('woff2'),
	     url('../fonts/founders-grotesk-mono/FoundersGroteskMono-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Founders Grotesk Mono';
	src: url('../fonts/founders-grotesk-mono/FoundersGroteskMono-Regular.woff2') format('woff2'),
	     url('../fonts/founders-grotesk-mono/FoundersGroteskMono-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Founders Grotesk Mono';
	src: url('../fonts/founders-grotesk-mono/FoundersGroteskMono-Medium.woff2') format('woff2'),
	     url('../fonts/founders-grotesk-mono/FoundersGroteskMono-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Founders Grotesk Mono';
	src: url('../fonts/founders-grotesk-mono/FoundersGroteskMono-Semibold.woff2') format('woff2'),
	     url('../fonts/founders-grotesk-mono/FoundersGroteskMono-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Founders Grotesk Mono';
	src: url('../fonts/founders-grotesk-mono/FoundersGroteskMono-Bold.woff2') format('woff2'),
	     url('../fonts/founders-grotesk-mono/FoundersGroteskMono-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}



// @font-face {
// 	font-family: 'Helvetica Neue';
// 	src: url('../fonts/helvetica-neue/HelveticaNeue-Thin.woff2') format('woff2'),
// 	     url('../fonts/helvetica-neue/HelveticaNeue-Thin.woff') format('woff');
// 	font-weight: 100;
// 	font-style: normal;
// }
// @font-face {
// 	font-family: 'Helvetica Neue';
// 	src: url('../fonts/helvetica-neue/HelveticaNeue-ThinItalic.woff2') format('woff2'),
// 	     url('../fonts/helvetica-neue/HelveticaNeue-ThinItalic.woff') format('woff');
// 	font-weight: 100;
// 	font-style: italic;
// }
// @font-face {
// 	font-family: 'Helvetica Neue';
// 	src: url('../fonts/helvetica-neue/HelveticaNeue-Light.woff2') format('woff2'),
// 	     url('../fonts/helvetica-neue/HelveticaNeue-Light.woff') format('woff');
// 	font-weight: 300;
// 	font-style: normal;
// }
// @font-face {
// 	font-family: 'Helvetica Neue';
// 	src: url('../fonts/helvetica-neue/HelveticaNeue-LightItalic.woff2') format('woff2'),
// 	     url('../fonts/helvetica-neue/HelveticaNeue-LightItalic.woff') format('woff');
// 	font-weight: 300;
// 	font-style: italic;
// }
@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/helvetica-neue/HelveticaNeue.woff2') format('woff2'),
	     url('../fonts/helvetica-neue/HelveticaNeue.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/helvetica-neue/HelveticaNeue-Italic.woff2') format('woff2'),
	     url('../fonts/helvetica-neue/HelveticaNeue-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}
// @font-face {
// 	font-family: 'Helvetica Neue';
// 	src: url('../fonts/helvetica-neue/HelveticaNeue-Medium.woff2') format('woff2'),
// 	     url('../fonts/helvetica-neue/HelveticaNeue-Medium.woff') format('woff');
// 	font-weight: 500;
// 	font-style: normal;
// }
// @font-face {
// 	font-family: 'Helvetica Neue';
// 	src: url('../fonts/helvetica-neue/HelveticaNeue-MediumItalic.woff2') format('woff2'),
// 	     url('../fonts/helvetica-neue/HelveticaNeue-MediumItalic.woff') format('woff');
// 	font-weight: 500;
// 	font-style: italic;
// }
@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/helvetica-neue/HelveticaNeue-Bold.woff2') format('woff2'),
	     url('../fonts/helvetica-neue/HelveticaNeue-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/helvetica-neue/HelveticaNeue-BoldItalic.woff2') format('woff2'),
	     url('../fonts/helvetica-neue/HelveticaNeue-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}



@font-face {
	font-family: 'Helvetica Neue Extended';
	src: url('../fonts/helvetica-neue/HelveticaNeue-HeavyExt.woff2') format('woff2'),
	     url('../fonts/helvetica-neue/HelveticaNeue-HeavyExt.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}