

#page,
#mobile-menu > .scrollable {
	padding-top: 10px;
	position: relative;
	&::before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 10px;
		background-color: $dark-blue;
		background-image: linear-gradient(to right, $dark-blue, $dark-blue 13%, $gold 13%, $gold 42%, $bright-blue 42%, $bright-blue 56%, $blue 56%, $blue);
	}
}

#header {
	> .bg {
		background-color: $extra-dark-blue;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		transition: opacity .2s, visibility 0s .2s;
		box-shadow: 0 2px 6px fade-out(#000000, .8);
		body.header-dropdown-active & {
			opacity: 1;
			visibility: visible;
			transition-delay: 0s;
		}
	}
	> .inner {
		position: relative;
	}
}

#header-primary-navigation {
	margin-top: 0;
	margin-bottom: 0;
	align-self: center;
}
#header-primary-navigation-menu {
	font-weight: 600;
	&:hover {
		body.header-dropdown-active & {
			> .menu-item {
				&:hover,
				&.active {
					> a {
						opacity: 1;
					}
				}
				> a {
					opacity: .5;
				}
			}
		}
	}
	> .menu-item {
		&:hover,
		&.active {
			> a::after {
				opacity: 1;
			}
			> .sub-menu {
				opacity: 1;
				visibility: visible;
				transition-delay: 0s;
				transform: none;
			}
		}
		> a {
			text-transform: uppercase;
			padding: 1rem 0.5rem;
			position: relative;
			transition: color .2s, opacity .2s;
			@include media-breakpoint-up(lg) {
				padding: 1rem;
			}
			&::after {
				content: '';
				display: block;
				position: absolute;
				left: 0.5rem;
				right: 0.5rem;
				bottom: 0.375rem;
				border-top: 0.375rem solid #ddd;
				transition: opacity .15s;
				opacity: 0;
				@include media-breakpoint-up(lg) {
					left: 1rem;
					right: 1rem;
				}
				#header.text-color-light &,
				body.header-dropdown-active & {
					border-color: $bright-blue;
				}
			}
		}
	}
	.sub-menu {
		font-weight: inherit;
		background-color: transparent;
		box-shadow: none;
		border-radius: 0;
		.menu-item {
			&:hover {
				> a {
					color: #fff;
				}
			}
		}
		a {
			color: rgba(#fff, .8);
		}
	}
}
#header-primary-cta-links {
	ul {
		margin: 0 -0.5rem;
	}
	li {
		margin: 0 0.5rem;
		&.primary > a {
			border-color: $blue;
			color: $dark;
			@include hover() {
				background-color: $blue;
				border-color: $blue;
				color: $bright-blue;
				#header.text-color-light &,
				body.header-dropdown-active & {
					color: $bright-blue;
				}
			}
			#header.is-sticky & {
				@include hover() {
					background-color: $blue;
					color: $bright-blue;
					border-color: $blue;
					body.header-dropdown-active & {
						color: $bright-blue;
					}
				}
			}
		}
	}
	a {
		@extend .btn;
		@extend .btn-sm;
		@extend .btn-outline-bright-blue;
		background-color: transparent;
		color: $dark;
		@include media-breakpoint-up(lg) {
			@include make-button-size(md);
			border-width: 3px;
			padding: calc(#{$btn-padding-y} - (3px - #{$btn-border-width})) calc(#{$btn-padding-x} - (3px - #{$btn-border-width}));
		}
		// @include media-breakpoint-up(xl) {
		// 	@include make-button-size(lg);
		// 	border-width: 4px;
		// 	padding: calc(#{$btn-padding-y-lg} - (4px - #{$btn-border-width})) calc(#{$btn-padding-x-lg} - (4px - #{$btn-border-width}));
		// }
		#header.text-color-light &,
		body.header-dropdown-active & {
			color: #fff;
			@include hover() {
				color: $dark;
			}
		}
		#header.is-sticky & {
			background-color: transparent;
			color: $dark;
			@include hover() {
				background-color: $bright-blue;
				color: $dark;
				border-color: $bright-blue;
			}
			body.header-dropdown-active & {
				color: #fff;
				@include hover() {
					color: $dark;
				}
			}
		}
	}
}
#header-search {
	button.toggle:after {
		margin-top: 0.2rem;
		font-family: $font-family-sans-serif;
	}
}
#mobile-menu-toggle .label {
	font-family: $font-family-sans-serif-alt;
}



// #main {
// 	.container {
// 		padding-bottom: 40px;
// 		@include media-breakpoint-up(md) {
// 			padding-bottom: 60px;
// 		}
// 		@include media-breakpoint-up(lg) {
// 			padding-bottom: 80px;
// 		}
// 		@include media-breakpoint-up(xl) {
// 			padding-bottom: 100px;
// 		}
// 	}
// }


#main-content,
#main .container > .inner {
	> .wp-block-crown-blocks-call-to-action.alignfull,
	> .wp-block-crown-blocks-container.alignfull,
	> .wp-block-crown-blocks-container-featured-image.alignfull,
	> .wp-block-crown-blocks-promo.alignfull,
	> .wp-block-crown-blocks-post-header,
	> .wp-block-crown-blocks-resource-header,
	> .wp-block-crown-blocks-event-header,
	> .wp-block-crown-blocks-client-story-header,
	> .wp-block-crown-blocks-webinar-header {
		// &:first-child {
		// 	margin-top: -40px - 68px - 10px;
		// 	padding-top: 68px + 10px;
		// 	@include media-breakpoint-up(md) {
		// 		margin-top: -60px - 80px - 10px;
		// 		padding-top: 80px + 10px;
		// 	}
		// 	@include media-breakpoint-up(lg) {
		// 		margin-top: -80px - 130px - 10px;
		// 		padding-top: 130px + 10px;
		// 	}
		// 	@include media-breakpoint-up(xl) {
		// 		margin-top: -100px - 130px - 10px;
		// 	}
		// }
		// &:last-child {
		// 	margin-bottom: -40px;
		// 	padding-bottom: 0;
		// 	@include media-breakpoint-up(md) {
		// 		margin-bottom: -60px;
		// 	}
		// 	@include media-breakpoint-up(lg) {
		// 		margin-bottom: -80px;
		// 	}
		// 	@include media-breakpoint-up(xl) {
		// 		margin-bottom: -100px;
		// 	}
		// 	body.single-post &,
		// 	body.single-resource & {
		// 		margin-bottom: 0;
		// 		padding-bottom: 0;
		// 	}
		// }
	}
}



#site-footer-header {
	background-color: $gold;
	text-align: left;
	@media (min-width: 1400px) {
		padding-left: 3rem;
		padding-right: 3remn;
	}
}

#pre-footer {
	background-color: $extra-dark-blue;
	color: #fff;
	.menus {
		padding: 0 1rem;
		@include media-breakpoint-up(md) {
			flex: 1 1 auto;
		}
	}
}
#footer-primary-navigation {
	font-size: 1.5rem;
	font-weight: 500;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		&.menu {
			display: flex;
			margin: 0 -1rem;
			> li {
				padding: 0 1rem;
				flex: 1 1 100%;
				@include media-breakpoint-up(md) {
					max-width: 12rem;
				}
				> a {
					display: none;
				}
			}
		}
	}
	a {
		color: $tan;
		display: inline-block;
		position: relative;
		padding-bottom: 4px;
		&:hover {
			color: $gold;
			&::before {
				opacity: 1;
			}
		}
		&::before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			bottom: 2px;
			right: 0;
			border-top: 4px solid mix($dark-blue, #fff, 80%);
			opacity: 0;
			transition: opacity .15s;
		}
	}
}
#footer-primary-cta-links {
	max-width: none;
	a {
		@extend .btn-dark-purple;
		@include media-breakpoint-up(md) {
			display: inline-block;
			width: auto;
		}
	}
}
#pre-footer .social-ctas {
	margin-top: 2rem;
	padding: 0 1rem;
	.social-links {
		h4 {
			text-align: center;
			text-transform: uppercase;
			color: $tan;
			letter-spacing: .1em;
		}
		.menu {
			justify-content: center;
			margin: -.75rem;
		}
		.menu-item {
			padding: 0.75rem;
			a {
				&:hover {
					.icon svg {
						fill: #fff;
					}
				}
			}
			.icon svg {
				fill: mix($extra-dark-blue, #fff, 40%);
				@include media-breakpoint-up(md) {
					height: 3rem;
				}
			}
		}
	}
}

#footer {
	background-color: $extra-dark-blue;
	color: rgba(#fff, .8);
	.container {
		> .upper {
			padding: 3rem 1rem 0;
			@include media-breakpoint-up(md) {
				padding: 3rem 0 0;
			}
			@include media-breakpoint-up(lg) {
				display: flex;
				justify-content: space-between;
			}
			@media (min-width: 1400px) {
				margin-left: -3rem;
				margin-right: -3rem;
			}
		}
		> .lower {
			border-top: 6px solid rgba(#fff, 0.25);
			padding: 0 1rem 3rem;
			margin: 2rem -1rem 0;
			@include media-breakpoint-up(md) {
				display: flex;
				flex-wrap: wrap;
				padding: 0;
				margin: 2rem 0 0;
				padding-bottom: 2rem;
				align-items: center;
				padding-top: 1rem;
			}
			@media (min-width: 1400px) {
				margin-left: -3rem;
				margin-right: -3rem;
			}
		}
	}
}

#site-description {
	font-size: 1rem;
	color: inherit;
	margin: 0 auto 2rem;
	max-width: 50rem;
	@include media-breakpoint-up(md) {
		text-align: left;
		margin: 0 0 2rem;
	}
	@include media-breakpoint-up(lg) {
		margin: 0;
	}
}

#footer .logos {
	flex: 0 0 auto;
	@include media-breakpoint-up(lg) {
		margin-left: 2rem;
		margin-top: 1.5rem;
	}
	> .inner {
		margin: -0.5rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include media-breakpoint-up(md) {
			justify-content: flex-start;
			margin: -1rem;
		}
		@include media-breakpoint-up(lg) {
			justify-content: flex-end;
		}
	}
	.logo {
		margin: 0.5rem;
		@include media-breakpoint-up(md) {
			margin: 1rem;
		}
		&.americas-sbdc-california img {
			max-height: 3.5rem;
			@include media-breakpoint-up(md) {
				max-height: 4.5rem;
			}
		}
		img {
			max-height: 4rem;
			filter: grayscale(1);
			mix-blend-mode: screen;
			@include media-breakpoint-up(md) {
				max-height: 5.5rem;
			}
		}
	}
}

#site-copyright {
	font-size: 1rem;
	font-weight: 700;
	font-family: $font-family-sans-serif;
	margin-bottom: 2rem;
	text-transform: none;
	letter-spacing: 0;
	text-transform: uppercase;
	@include media-breakpoint-up(md) {
		flex: 1 1 auto;
		margin-bottom: 1rem;
		margin-right: 2rem;
		padding: 0;
	}
	a {
		color: inherit;
		text-decoration: underline;
	}
}

#footer-legal-links {
	font-size: 1rem;
	font-weight: 700;
	font-family: $font-family-sans-serif;
	letter-spacing: 0;
	@include media-breakpoint-up(md) {
		padding: 0;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -1rem;
		justify-content: center;
		@include media-breakpoint-up(md) {
			justify-content: left;
		}
	}
	li {
		margin: 0 1rem 1rem;
		padding: 0;
		border: none;
		+ li {
			@include media-breakpoint-up(md) {
				padding-left: 0;
				border-left: none;
				margin-left: 1rem;
			}
		}
	}
	a {
		&:hover {
			color: #fff;
		}
	}
}



#mobile-menu {
	background-color: $dark-blue;
	width: 100%;
	max-width: none;
}
#mobile-menu-header {
	> .upper {
		border-bottom: none;
	}
}
#mobile-menu-title .title {
	font-size: 1rem;
	margin-bottom: 0;
}
#mobile-menu-close {
	font-size: 3rem;
	width: 3rem;
	margin-right: -0.9rem;
	.icon {
		overflow: hidden;
		&:before {
			position: relative;
			top: .25rem;
			font-family: $font-family-sans-serif;
			color: $gold;
			top: 0;
		}
	}
}
#mobile-menu-primary-navigation-menu {
	text-align: center;
	> .menu-item {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		&:nth-child(2n-1),
		&:nth-child(4n-1) {
			background: transparent;
		}
		&.menu-item-has-sub-menu > a {
			padding-right: 0.75rem;
		}
		&.active {
			> .toggle {
				transform: rotateX(180deg);
			}
		}
		> a {
			padding: .75rem 1rem;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 1.5rem;
		}
		> .toggle {
			width: 1.5rem;
			height: 1.5rem;
			position: static;
			background-image: escape-svg(url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#{$bright-blue}" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>'));
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			&:before {
				display: none;
			}
		}
		> .sub-menu {
			order: 10;
			width: 100%;
			font-size: 1.25rem;
		}
	}
	.sub-menu {
		.menu-item:last-child {
			padding-bottom: 1rem;
		}
		a {
			padding: .5rem 1rem;
		}
	}
}
#mobile-menu-primary-cta-links {
	margin-top: 1rem;
	margin-bottom: 2rem;
	display: flex;
	justify-content: center;
	ul {
		display: block;
		margin: 0;
	}
	li {
		margin: 0;
		margin-bottom: .5rem;
		text-align: center;
	}
	li.primary > a {
		border-color: $blue;
		&:hover {
			color: $bright-blue;
			background-color: $blue;
			border-color: $blue;
		}
	}
	li.tertiary > a {
		border-color: $tan;
		&:hover {
			color: $dark;
			background-color: $tan;
			border-color: $tan;
		}
	}
	a {
		@extend .btn;
		@extend .btn-md;
		@extend .btn-outline-bright-blue;
		border-width: 3px;
		padding: calc(0.8rem - (3px - 1px)) calc(1.3rem - (3px - 1px));
	}
}