

$dark-blue:      #1D2F3C;
$blue:           #0081B7;
$bright-blue:    #59CEFF;
$magenta:        #D50679;
$yellow:         #FEC403;
$dark-gray:      #2C3E4B;

$colors: map-merge(
	(
		'magenta': $magenta,
		'yellow': $yellow,
		'bright-blue': $bright-blue
	),
	$colors
);

$font-family-sans-serif: "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-sans-serif-alt: "Helvetica Neue Condensed", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-mono: 'Roboto Mono', monospace;
$icomoon-font-folder-path: "../../../norcal-sbdc/assets/fonts/icomoon";
$headings-font-weight: 700;
$headings-font-family: $font-family-sans-serif-alt;

$btn-font-family: $font-family-mono;
$btn-font-weight: 500;
$btn-letter-spacing: .1em;
$btn-text-transform: uppercase;