

$dark-blue:      #1D2F3C;
$blue:           #0081B7;
$magenta:        #D50679;
$yellow:         #FEC403;
$dark-gray:      #2C3E4B;

$colors: map-merge(
	(
		'magenta': $magenta,
		'yellow': $yellow
	),
	$colors
);

$font-family-mono: 'Roboto Mono', monospace;
$headings-font-weight: 700;

$btn-font-family: $font-family-mono;
$btn-font-weight: 600;
$btn-letter-spacing: .2em;
$btn-text-transform: uppercase;