
#footer {
	background-color: $ghost;
	.container {
		max-width: 100%;
		> .upper {
			padding-top: 1.875rem;
			@include media-breakpoint-up(sm) {
				padding-top: 2.5rem;
			}
			> .inner {
				display: flex;
				flex-wrap: wrap;
				margin-left: -15px;
				margin-right: -15px;
				@include media-breakpoint-up(lg) {
					flex-wrap: nowrap;
				}
				@include media-breakpoint-up(xl) {
					margin-left: -40px;
					margin-right: -40px;
				}
			}
		}
		> .lower {
			border-top: 1px solid #DBDBDB;
			padding-top: 1.25rem;
			padding-bottom: 1.25rem;
			> .inner {
				@include media-breakpoint-up(md) {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
				}
			}
		}
	}
}
body {
	background-color: $ghost;
}
#page {
	background-color: $body-bg;
}


/*	Footer Brand
---------------------------------------------------------*/

#footer-brand {
	flex: 1 1 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 1.875rem;
	@include media-breakpoint-up(lg) {
		flex: 0 0 auto;
		padding-right: 25px;
	}
	@include media-breakpoint-up(xl) {
		padding-left: 40px;
		padding-right: 40px;
	}
}


/*	Logo
---------------------------------------------------------*/

#footer-logo {
	width: 220px;
	a {
		display: block;
	}
	img {
		width: 100%;
	}
}


/*	Footer Widgets
---------------------------------------------------------*/

.footer-widgets {
	flex: 1 1 100%;
	padding-left: 15px;
	padding-right: 15px;
	@include media-breakpoint-up(md) {
		flex: 0 0 25%;
	}
	@include media-breakpoint-up(lg) {
		flex: 0 1 auto;
		max-width: 300px;
	}
	@include media-breakpoint-up(xl) {
		padding-left: 40px;
		padding-right: 40px;
	}
	.widget {
		font-size: $font-size-sm;
		margin-bottom: 1.875rem;
		.widget-title {
			text-transform: uppercase;
			margin-bottom: 0.625rem;
			font-weight: 700;
			font-size: $font-size-sm;
		}
		a {
			color: inherit;
			transition: color .15s;
			&:hover {
				color: $sky-blue;
			}
		}
	}
	.widget_nav_menu {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			text-transform: uppercase;
			font-weight: 700;
			line-height: $line-height-sm;
		}
		li {
			margin-bottom: 0.625rem;
			&.menu-item-btn > a {
				@extend .btn;
				@extend .btn-sm;
				@extend .btn-outline-sky-blue;
			}
		}
	}
}
#footer-widgets-2,
#footer-widgets-3 {
	@include media-breakpoint-between(sm, sm) {
		flex: 0 0 50%;
	}
}
#footer-widgets-4 {
	// @include media-breakpoint-up(lg) {
	// 	flex: 1 1 auto;
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: flex-end;
	// 	max-width: none;
	// }
}


/*	Site Copyright
---------------------------------------------------------*/

#site-copyright {
	font-size: 0.75rem;
	margin-bottom: 0.625rem;
	@include media-breakpoint-up(md) {
		margin-bottom: 0;
	}
}


/*	Legal Links
---------------------------------------------------------*/

#footer-legal-links {
	font-size: 0.75rem;
	line-height: $line-height-sm;
	@include media-breakpoint-up(md) {
		margin-right: 24px;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		@include media-breakpoint-up(sm) {
			display: flex;
		}
	}
	li {
		margin-bottom: 0.625rem;
		@include media-breakpoint-up(sm) {
			margin-bottom: 0;
			display: flex;
			align-items: center;
		}
		@include media-breakpoint-up(md) {
			margin-left: 10px;
			padding-left: 10px;
			border-left: 1px solid #ccc;
		}
		+ li {
			@include media-breakpoint-up(sm) {
				margin-left: 10px;
				padding-left: 10px;
				border-left: 1px solid #ccc;
			}
		}
	}
	a {
		color: inherit;
		transition: color .15s;
		&:hover {
			color: $sky-blue;
		}
	}
}


/*	Social Links
---------------------------------------------------------*/

#footer .social-links {
	margin-top: 20px;
	font-size: 0.75rem;
	line-height: $line-height-sm;
	text-transform: uppercase;
	@include media-breakpoint-up(md) {
		margin-top: 0;
	}
	.menu {
		list-style: none;
		padding: 0;
		margin: -5px -10px;
		display: flex;
		flex-wrap: wrap;
	}
	.menu-item {
		padding: 5px 10px;
		&.linkedin .icon svg { fill: #0099D8; }
		a {
			display: flex;
			align-items: center;
			color: inherit;
			transition: color .15s;
			&:hover {
				color: $sky-blue;
			}
		}
		.icon {
			display: block;
			margin-right: 0.5rem;
			svg {
				height: 1.5rem;
			}
		}
	}
}