
#footer {
	background-color: #edeff2;
	line-height: $line-height-base;
	.container {
		// max-width: 100%;
		> .upper {
			padding: 2rem 0;
			@include media-breakpoint-up(sm) {
				padding: 3rem 0 2rem;
			}
			> .inner {
				display: flex;
				flex-wrap: wrap;
				margin-left: -1rem;
				margin-right: -1rem;
			}
		}
		> .lower {
			border-top: 2px solid $primary;
			padding: 1rem 0 2rem;
			@include media-breakpoint-up(lg) {
				padding-top: 1.5rem;
			}
			@media (min-width: 1400px) {
				margin-left: -3rem;
				margin-right: -3rem;
			}
			> .inner {
				display: flex;
				flex-wrap: wrap;
				margin-left: -1rem;
				margin-right: -1rem;
			}
		}
	}
}
body {
	background-color: $ghost;
}
#page {
	background-color: $body-bg;
}


/*	Pre-Footer
---------------------------------------------------------*/

#pre-footer {
	background-color: #fff;
	.container {
		padding-top: 2rem;
		padding-bottom: 2rem;
		@include media-breakpoint-up(md) {
			padding-top: 3rem;
			padding-bottom: 3rem;
		}
	}
	.contents {
		@include media-breakpoint-up(md) {
			display: flex;
			margin: 0 -1rem;
		}
	}
}


/*	Footer Header
---------------------------------------------------------*/

#site-footer-header {
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: 400;
	background-color: #002649;
	color: #fff;
	text-align: center;
	padding: 1rem;
	margin-top: (5.1875rem / -2) - 2rem;
	margin-bottom: 2rem;
	position: relative;
	z-index: 5;
	@include media-breakpoint-up(md) {
		padding: 1.5rem;
		font-size: 2.25rem;
		margin-top: (6.5625rem / -2) - 3rem;
		// margin-bottom: 3rem;
	}
	@media (min-width: 1400px) {
		margin-left: -3rem;
		margin-right: -3rem;
	}
}


/*	Subscribe Form
---------------------------------------------------------*/

#footer-subscribe-form {
	margin-bottom: 2rem;
	@include media-breakpoint-up(md) {
		padding: 0 1rem;
		margin-bottom: 0;
		width: 50%;
		order: 10;
		max-width: 30rem;
		align-self: center;
	}
	.form-overtitle {
		text-transform: uppercase;
		letter-spacing: .1em;
		font-size: 1.125rem;
		color: $blue;
		font-weight:600;
		span {
			color: $primary;
		}
	}
	.gform_heading {
		margin-bottom: 1rem;
	}
	.gform_title {
		margin-top: -.5rem;
		font-size: 1.75rem;
		font-weight: 500;
		font-family: $font-family-sans-serif-alt;
	}
}


/*	Footer Logo
---------------------------------------------------------*/

#site-footer-logos {
	@include media-breakpoint-up(md) {
		padding: 0 1rem;
		padding-right: 2rem;
		flex: 1 1 auto;
	}
}

#site-footer-logo {
	height: 140px;
	position: relative;
	a {
		img {
			position: absolute;
			display: block;
			left: 0;
			top: 0;
			max-width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: left center;
		}
	}
}


/*	Host Logos
---------------------------------------------------------*/

#site-footer-host-logos {
	margin-top: 1rem;
	.intro {
		font-family: $font-family-sans-serif;
		font-size: 1rem;
	}
	.logos {
		margin: 1rem -1rem -1rem;
		display: flex;
		flex-wrap: wrap;
	}
	.logo {
		margin: 1rem;
		img {
			max-height: 130px;
		}
	}
}


/*	Footer Branding
---------------------------------------------------------*/

#site-footer-branding {
	flex: 0 0 100%;
	margin-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

#site-footer-title {
	font-weight: 700;
	font-size: 1.75rem;
	line-height: $line-height-sm;
	a {
		color: inherit;
	}
}


/*	Regional Info
---------------------------------------------------------*/

#site-footer-regional-info {
	flex: 0 0 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 2rem;
	@include media-breakpoint-up(lg) {
		flex: 1 1 0;
	}
	.contact {
		h3 {
			font-size: 1.25rem;
			.bubble {
				display: inline-block;
				position: relative;
				background-color: rgba($body-color, .1);
				font-size: 1rem;
				font-weight: 500;
				padding: .5rem .75rem;
				margin-top: -0.4rem;
				margin-left: .5rem;
				vertical-align: top;
				&:after {
					content: '';
					border: 0px solid transparent;
					border-top-color: rgba($body-color, .1);
					border-right-width: 1.5rem;
					border-top-width: .75rem;
					top: 100%;
					left: .75rem;
					position: absolute;
				}
			}
		}
		.branch {
			margin-bottom: 1rem;
			text-transform: capitalize;
			font-weight: 400;
			opacity: .85;
			.name {
				display: none;
			}
			.phone {
				font-size: 2.5rem;
				line-height: $line-height-sm;
				font-weight: 700;
			}
		}
	}
	.regional-offices {
		margin-top: 2rem;
		h3 {
			margin-bottom: 0.5rem;
			opacity: .85;
			font-weight: 700;
		}
		ul {
			font-size: 0.925rem;
			margin: 0;
			padding: 0;
			list-style: none;
			line-height: 1;
			column-count: 2;
			column-gap: 2rem;
			max-width: 800px;
			color: #273a64;
			font-family: $font-family-sans-serif-alt;
			@include media-breakpoint-up(md) {
				column-count: 3;
			}
		}
		li {
			margin-top: 0.75rem;
			display: inline-block;
			width: 100%;
			break-inside: avoid;
		}
		a {
			color: inherit;
			text-decoration: underline;
			&:hover {
				color: $blue;
			}
		}
	}
}


/*	Footer Widgets
---------------------------------------------------------*/

.footer-widget-areas {
	flex: 0 0 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	@include media-breakpoint-up(lg) {
		flex: 1 1 0;
	}
	> .inner {
		display: flex;
		flex-wrap: wrap;
		margin-left: -1rem;
		margin-right: -1rem;
		@include media-breakpoint-up(md) {
			margin-left: -1.5rem;
			margin-right: -1.5rem;
		}
		@include media-breakpoint-up(lg) {
			margin-left: -2rem;
			margin-right: -2rem;
			flex-wrap: nowrap;
		}
	}
}
.footer-widgets {
	flex: 0 0 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	@include media-breakpoint-up(md) {
		flex: 0 1 auto;
		max-width: 33.33%;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	@include media-breakpoint-up(lg) {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.widget {
		margin-bottom: 2rem;
		font-size: 1.125rem;
		font-family: $font-family-sans-serif;
		color: mix($body-color, $ghost, 60%);
		.widget-title {
			margin-bottom: .5rem;
			font-size: 1rem;
			font-weight: 600;
			letter-spacing: .1em;
			text-transform: uppercase;
			color: $body-color;
		}
		a {
			color: inherit;
			transition: color .15s;
			&:hover {
				color: $primary;
			}
		}
	}
	.widget_nav_menu {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			line-height: $line-height-sm;
		}
		li {
			margin-bottom: 0.25rem;
		}
	}
}


/*	Footer Social Links
---------------------------------------------------------*/

#footer .social-ctas {
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 2rem;
	flex: 1 0 100%;
	@include media-breakpoint-up(lg) {
		flex: 0 0 auto;
		text-align: center;
		margin-top: 3rem;
		display: flex;
		flex-direction: column;
	}
}
#footer .social-links {
	h4 {
		margin-bottom: 1.5rem;
		font-size: 1rem;
		font-weight: 600;
		letter-spacing: .1em;
		text-transform: uppercase;
		font-family: $font-family-sans-serif-alt;
		color: $body-color;
	}
	.menu {
		margin: -0.6rem;
		@include media-breakpoint-up(xl) {
			justify-content: center;
		}
	}
	.menu-item {
		padding: 0.6rem;
		a:hover .icon svg {
			fill: mix($body-color, $ghost, 60%);
		}
		.icon {
			svg {
				height: 3rem;
				fill: rgba(mix($body-color, $ghost, 60%), 0.5);
			}
		}
	}
}

#footer .google-reviews-link {
	width: 271px;
	height: 126px;
	position: relative;
	margin: 1rem auto;
	&:hover {
		&::before {
			opacity: 0;
		}
		&::after {
			opacity: 1;
		}
	}
	&::before,
	&::after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		transition: opacity .2s;
	}
	&::before {
		opacity: 1;
		background-image: url(../img/logos/google-review.png);
	}
	&::after {
		background-image: url(../img/logos/google-review-active.png);
	}
	> .inner {
		display: none;
	}
}


/*	Footer CTA Links
---------------------------------------------------------*/

#footer-primary-cta-links {
	max-width: 18rem;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		margin-top: 2rem;
		@include media-breakpoint-up(lg) {
			margin-top: 3rem;
		}
	}
	li {
		margin-top: .5rem;
	}
	a {
		@extend .btn;
		@extend .btn-white;
		display: block;
		width: 100%;
		@include media-breakpoint-up(lg) {
			@include make-button-size(lg);
		}
	}
}


/*	Translate
---------------------------------------------------------*/

#google-translate {
	position: relative;
	overflow: hidden;
	height: 48px;
	margin-top: 2rem;
	> * {
		margin-left: -100vw;
	}
	select {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		margin: 0;
		font-family: $font-family-sans-serif;
		font-size: $input-btn-font-size;
	}
}


/*	Site Footer Meta
---------------------------------------------------------*/

#site-footer-meta {
	flex: 0 0 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	@include media-breakpoint-up(md) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-bottom: 1rem;
	}
	@include media-breakpoint-up(lg) {
		flex-wrap: nowrap;
		justify-content: space-between;
	}
}

#site-description {
	font-size: 0.75rem;
	color: mix($body-color, $ghost, 40%);
	font-family: $font-family-sans-serif;
	text-align: center;
	max-width: 720px;
	@include media-breakpoint-up(lg) {
		margin: 0 2rem;
		flex: 1 1 auto;
	}
}

#site-footer-meta .accreditations {
	margin-top: 2rem;
	@include media-breakpoint-up(md) {
		margin-top: 0;
		padding-right: 1rem;
		width: 50%;
		flex: 0 0 auto;
	}
	@include media-breakpoint-up(lg) {
		width: calc((100px + (.5rem * 2)) * 2 - (.5rem * 2) + 1rem);
		order: -1;
	}
	> .inner {
		margin: -0.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		@include media-breakpoint-up(md) {
			justify-content: flex-start;
		}
	}
	.logo {
		margin: 0.5rem;
		max-width: 100px;
	}
}

#site-footer-meta .logos {
	margin-top: 2rem;
	@include media-breakpoint-up(md) {
		flex: 0 0 auto;
		padding-left: 1rem;
		margin-top: 0;
		width: 50%;
	}
	@include media-breakpoint-up(lg) {
		width: calc((100px + (.5rem * 2)) * 2 - (.5rem * 2) + 1rem);
	}
	> .inner {
		margin: -0.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		@include media-breakpoint-up(md) {
			justify-content: flex-end;
		}
	}
	.logo {
		margin: 0.5rem;
		max-width: 100px;
		&.sbdc-accredited-member {
			max-width: 200px;
		}
	}
}


/*	Site Copyright
---------------------------------------------------------*/

#site-copyright {
	font-size: 0.75rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	line-height: $line-height-sm;
	flex: 0 0 100%;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-family: $font-family-sans-serif;
	text-align: center;
	@include media-breakpoint-up(md) {
		flex: 1 1 auto;
		text-align: left;
		margin-bottom: 0;
		margin-top: 1rem;
	}
}


/*	Legal Links
---------------------------------------------------------*/

#footer-legal-links {
	font-size: 0.75rem;
	line-height: $line-height-sm;
	margin-bottom: 0;
	padding-left: 1rem;
	padding-right: 1rem;
	flex: 0 0 100%;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-family: $font-family-sans-serif;
	text-align: center;
	@include media-breakpoint-up(md) {
		flex: 0 0 auto;
		margin-top: 1rem;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		@include media-breakpoint-up(sm) {
			display: flex;
			justify-content: center;
		}
	}
	li {
		margin-bottom: 0.5rem;
		@include media-breakpoint-up(sm) {
			margin-bottom: 0;
			display: flex;
			align-items: center;
		}
		+ li {
			@include media-breakpoint-up(sm) {
				margin-left: 10px;
				padding-left: 10px;
				border-left: 1px solid mix($body-color, $ghost, 40%);
			}
		}
	}
	a {
		color: inherit;
		transition: color .15s;
		&:hover {
			color: $primary;
		}
	}
}