
#header {
	background-color: transparent;
	position: sticky;
	top: 0;
	z-index: 500;
	transition: opacity .4s, transform .4s ease-out, background-color .4s, box-shadow .4s, visibility 0s;
	opacity: 0;
	transform: translateY(-10px);
	line-height: $line-height-base;
	&.loaded {
		opacity: 1;
		transform: none;
	}
	&.is-sticky {
		background-color: #fff;
		box-shadow: 0 2px 6px fade-out(#000000, .8);
		&.is-minified {
			opacity: 0;
			visibility: hidden;
			transform: translateY(-30px);
			transition: opacity .4s .4s, transform .4s .4s ease-out, background-color .4s, box-shadow .4s, visibility 0s .8s;
		}
	}
	&.search-active {
		> .inner > .container > .inner:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
	}
	body.admin-bar & {
		@media (min-width: 601px) {
			top: 46px;
		}
		@media (min-width: 783px) {
			top: 32px;
		}
	}
	> .inner {
		> .container {
			// max-width: 100%;
			padding-top: 10px;
			padding-bottom: 10px;
			@include media-breakpoint-up(lg) {
				padding-top: 20px;
				padding-bottom: 20px;
			}
			> .inner {
				display: flex;
				align-items: center;
				position: relative;
			}
		}
	}
}

#wpadminbar {
	// position: fixed;
	z-index: 99980;
}



/*	Site Announcement
---------------------------------------------------------*/

#site-announcement {
	line-height: $line-height-sm;
	font-size: 1rem;
	position: relative;
	display: none;
	text-transform: uppercase;
	letter-spacing: .05em;
	// opacity: 0;
	margin-top: auto;
	transition: opacity .2s, margin-top .2s ease-out;
	font-family: $font-family-serif;
	font-style: italic;
	text-transform: lowercase;
	@include media-breakpoint-up(md) {
		font-size: 1.375rem;
	}
	&.active {
		display: block;
	}
	&.shown {
		opacity: 1;
		transform: none;
		margin-top: 0 !important;
	}
	&.text-color-light {
		color: #eee;
		.message + .link {
			border-color: #eee;
		}
		.link a {
			border-color: #eee;
		}
	}
	> .inner {
		padding-right: 2rem;
		@include media-breakpoint-up(sm) {
			padding-left: 2rem;
		}
	}
	button.dismiss {
		background-color: transparent;
		border: none;
		padding: 0;
		line-height: 1;
		overflow: hidden;
		text-indent: -100000px;
		width: 1.5rem;
		height: 1.5rem;
		position: relative;
		color: inherit;
		position: absolute;
		right: .5rem;
		top: calc(50% - .75rem);
		outline: none;
		transition: opacity .15s;
		opacity: .8;
		&:hover {
			opacity: 1;
		}
		&:before {
			content: '\d7';
			position: absolute;
			left: 0;
			top: -.1rem;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			line-height: 1;
			font-size: 1.5rem;
			text-indent: 0;
			font-weight: 300;
		}
	}
	.container {
		max-width: 100%;
		padding: .4rem 1rem;
		display: flex;
		align-items: center;
		min-height: 3rem;
		@include media-breakpoint-up(sm) {
			justify-content: center;
			text-align: center;
		}
		> .inner {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			margin: -.25rem -.5rem;
			@include media-breakpoint-up(sm) {
				justify-content: center;
			}
		}
	}
	p {
		margin: .25rem .5rem;
	}
	.message {
		+ .link {
			@include media-breakpoint-up(lg) {
				padding-left: 1rem;
				border-left: 2px solid $body-color;
			}
		}
	}
	.link {
		a {
			font-weight: 700;
			color: inherit;
			transition: opacity .15s;
			padding: .35rem .5rem;
			border: 2px solid $body-color;
			font-family: $font-family-sans-serif;
			font-style: normal;
			font-size: 0.875rem;
			display: inline-block;
			&:hover {
				opacity: .8;
			}
		}
	}
}


/*	Mobile Menu Toggle
---------------------------------------------------------*/

#mobile-menu-toggle {
	display: flex;
	align-items: center;
	padding: 0;
	border: none;
	box-shadow: none;
	position: relative;
	outline: none;
	line-height: $line-height-sm;
	font-size: 0.875rem;
	height: 30px;
	background-color: transparent;
	z-index: 1;
	@include media-breakpoint-up(md) {
		display: none;
	}
	.label {
		margin-right: .5rem;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 0.75rem;
		line-height: 1;
		letter-spacing: .1em;
		margin-top: 0.125rem;
		transition: color .4s;
	}
	.icon {
		position: relative;
		display: block;
		width: 2rem;
		height: 0.125rem;
		background-color: $red;
		transition: background-color .4s;
		&:before,
		&:after {
			content: '';
			display: block;
			width: 80%;
			height: 100%;
			right: 0;
			position: absolute;
			background-color: $red;
			transition: background-color .4s;
		}
		&:before { top: -0.4375rem; }
		&:after { bottom: -0.4375rem; }
	}
	#header.text-color-light &,
	body.header-dropdown-active & {
		.label {
			color: #fff;
		}
		.icon {
			background-color: $white;
			&:before,
			&:after {
				background-color: $white;
			}
		}
	}
	#header.is-sticky & {
		.label {
			color: $body-color;
		}
		.icon {
			background-color: $red;
			&:before,
			&:after {
				background-color: $red;
			}
		}
		body.header-dropdown-active & {
			.label {
				color: #fff;
			}
			.icon {
				background-color: $white;
				&:before,
				&:after {
					background-color: $white;
				}
			}
		}
	}
}


/*	Branding
---------------------------------------------------------*/

#site-branding {
	flex: 1 1 auto;
	margin-right: 1rem;
	display: flex;
	justify-content: flex-start;
	position: relative;
	z-index: 1;
	@include media-breakpoint-up(lg) {
		margin-right: 2rem;
	}
}
#site-logo {
	// width: 120px;
	width: 100%;
	height: 48px;
	display: flex;
	align-items: center;
	transition: opacity .2s, visibility 0s, transform .2s ease-out;
	position: relative;

	@include media-breakpoint-up(md) {
		// width: 150px;
		height: 60px;
	}
	@include media-breakpoint-up(lg) {
		// width: 225px;
		height: 90px;
	}
	#header.is-sticky & {
		opacity: 0;
		visibility: hidden;
		transform: translateY(-10px);
		transition: opacity .2s, visibility 0s .2s, transform .2s ease-out;
	}
	a {
		img {
			position: absolute;
			display: block;
			left: 0;
			top: 0;
			max-width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: right center;
			transition: opacity .2s;
			&.light { opacity: 0; }
			#header.text-color-light &,
			body.header-dropdown-active & {
				&.dark { opacity: 0; }
				&.light { opacity: 1; }
			}
			@include media-breakpoint-up(md) {
				object-position: left center;
			}
		}
	}
}
#site-title {
	position: absolute;
	left: 0;
	right: 0;
	text-align: left;
	top: 0;
	height: 100%;
	display: flex;
	align-items: center;
	line-height: $line-height-sm;
	transition: opacity .2s, visibility 0s .2s, transform .2s ease-out;
	opacity: 0;
	visibility: hidden;
	transform: translateY(10px);
	justify-content: flex-start;
	#header.is-sticky & {
		opacity: 1;
		visibility: inherit;
		transform: none;
		transition-delay: 0s;
	}
	a {
		display: block;
	}
	.title {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 0.875rem;
		letter-spacing: .1em;
		color: $primary;
		margin-bottom: 0.2rem;
		@include media-breakpoint-up(lg) {
			font-size: 1.25rem;
		}
		@include media-breakpoint-up(xl) {
			font-size: 1.625rem;
		}
		body.header-dropdown-active & {
			color: #fff;
		}
	}
	.tagline {
		text-transform: uppercase;
		color: mix($primary, #fff, 60%);
		font-style: italic;
		letter-spacing: .1em;
		font-size: 0.625rem;
		@include media-breakpoint-up(lg) {
			font-size: 0.875rem;
		}
		@include media-breakpoint-up(xl) {
			font-size: 1.125rem;
		}
		body.header-dropdown-active & {
			color: #fff;
		}
	}
}


/*	Primary CTA Links
---------------------------------------------------------*/

#header-primary-cta-links {
	margin-right: 1rem;
	display: none;
	transition: opacity .3s .3s;
	@include media-breakpoint-up(md) {
		margin-right: 0;
		margin-left: 1rem;
		display: block;
	}
	@include media-breakpoint-up(lg) {
		margin-left: 2rem;
	}
	#header.search-active & {
		opacity: 0;
		transition-delay: 0s;
	}
	ul {
		list-style: none;
		margin: 0 -0.125rem;
		padding: 0;
		display: flex;
	}
	li {
		margin: 0 0.125rem;
	}
	a {
		@extend .btn;
		@extend .btn-sm;
		@extend .btn-red;
		@include media-breakpoint-up(lg) {
			@include make-button-size(md);
			border-width: 3px;
			padding: calc(#{$btn-padding-y} - (3px - #{$btn-border-width})) calc(#{$btn-padding-x} - (3px - #{$btn-border-width}));
		}
		@include media-breakpoint-up(xl) {
			@include make-button-size(lg);
			border-width: 4px;
			padding: calc(#{$btn-padding-y-lg} - (4px - #{$btn-border-width})) calc(#{$btn-padding-x-lg} - (4px - #{$btn-border-width}));
		}
		#header.is-sticky & {
			background-color: transparent;
			color: $red;
			@include hover() {
				background-color: $red;
				color: #fff;
				border-color: $red;
			}
		}
	}
}


/*	Primary Nav
---------------------------------------------------------*/

#header-primary-navigation {
	display: none;
	flex: 0 1 auto;
	margin-top: -10px;
	margin-bottom: -10px;
	align-self: stretch;
	justify-content: flex-end;
	transition: opacity .3s .3s;
	@include media-breakpoint-up(md) {
		display: flex;
	}
	@include media-breakpoint-up(lg) {
		margin-top: -20px;
		margin-bottom: -20px;
	}
	#header.search-active & {
		opacity: 0;
		transition-delay: 0s;
	}
}
#header-primary-navigation-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: $line-height-sm;
	font-size: 0.875rem;
	display: flex;
	font-weight: 700;
	margin: 0 -0.5rem;
	@include media-breakpoint-up(lg) {
		margin: 0 -1rem;
		font-size: 1.25rem;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	a {
		color: $dark-blue;
		transition: color .15s;
		&:hover {
			color: $dark-blue;
		}
	}
	> .menu-item {
		position: relative;
		display: flex;
		&.mega-menu-item {
			position: static;
		}
		&:hover,
		&.active {
			> a {
				color: $dark-blue;
				.label:after {
					opacity: 1;
				}
			}
		}
		&.active {
			> .sub-menu {
				opacity: 1;
				visibility: visible;
				transition-delay: 0s;
				transform: none;
			}
		}
		> a {
			color: $dark-blue;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			padding: 0.5rem 0.5rem;
			transition: color .15s;
			cursor: pointer;
			@include media-breakpoint-up(lg) {
				padding: 0.5rem 1rem;
			}
			#header.text-color-light &,
			body.header-dropdown-active & {
				color: #fff;
			}
			#header.is-sticky & {
				color: $dark-blue;
				body.header-dropdown-active & {
					color: #fff;
				}
			}
			.label {
				padding: 0.3rem 0;
				position: relative;
				display: block;
				@include media-breakpoint-up(lg) {
					padding: 0.5rem 0;
				}
				&:after {
					content: '';
					border-top: 2px solid $dark-blue;
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					opacity: 0;
					transition: opacity .15s, border-color .2s;
					#header.text-color-light &,
					body.header-dropdown-active & {
						border-color: #fff;
					}
					#header.is-sticky & {
						border-color: $dark-blue;
						body.header-dropdown-active & {
							border-color: #fff;
						}
					}
					@include media-breakpoint-up(lg) {
						border-top-width: 4px;
					}
				}
			}
		}
	}
	.sub-menu {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		z-index: 550;
		transition: opacity .2s, visibility 0s .2s, transform .2s ease-out;
		transform: translateY(-10px);
		left: -0.5rem;
		top: 100%;
		margin-top: 0.625rem;
		width: 15rem;
		padding: .5rem 0;
		background-color: #fff;
		box-shadow: 0 2px 6px fade-out(#000000, .8);
		border-radius: 3px;
		font-weight: 400;
		@include media-breakpoint-up(lg) {
			left: -10px;
			padding: 1rem 0;
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			bottom: 100%;
			right: 0;
			height: 0.625rem;
		}
		.menu-item {
			display: block;
		}
		a {
			display: block;
			text-align: left;
			padding: .5rem 1rem;
			@include media-breakpoint-up(lg) {
				padding: .5rem 1.5rem;
			}
		}
		.sub-menu {
			left: calc(100% + 0.5rem);
			margin-top: 0;
			top: -0.5rem;
			transform: translateX(-10px);
			@include media-breakpoint-up(lg) {
				top: -1rem;
			}
			&.drop-left {
				left: auto;
				right: calc(100% + 0.5rem);
				transform: translateX(10px);
				&:before {
					right: auto;
					left: 100%;
				}
			}
			&:before {
				bottom: 0;
				top: 0;
				right: 100%;
				left: auto;
				height: auto;
				width: 0.625rem;
			}
		}
	}
	.mega-sub-menu {
		width: 100%;
		left: 0;
		padding: 0;
		min-height: 100px;
		display: flex;
		top: calc(100% + 10px);
		border-radius: 0;
		border-top: 10px solid $red;
		@include media-breakpoint-up(lg) {
			top: calc(100% + 20px);
		}
		&.events {
			.sub-menu-section.primary {
				display: flex;
				align-items: center;
				.container {
					width: 100%;
				}
			}
			.sub-menu-section.secondary {
				flex: 0 0 percentage(4 / 12);
				@include media-breakpoint-up(xl) {
					flex: 0 0 percentage(3 / 12);
				}
				.container {
					@include media-breakpoint-up(xl) {
						padding-left: 2.5rem;
						padding-right: 2.5rem;
					}
				}
			}
		}
		> .inner {
			display: flex;
			width: 100%;
		}
		a {
			padding: 0;
			display: inline;
		}
		.sub-menu-section {
			flex: 1 1 auto;
			&.primary {
				&.default {
					.sub-menu-menus {
						.menu {
							columns: 3;
						}
					}
				}
			}
			&.secondary {
				flex: 0 0 42%;
				background-color: #E9EFF4;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				.container {
					padding-top: 2.5rem;
					@include media-breakpoint-up(xl) {
						padding-left: 4rem;
						padding-right: 4rem;
					}
				}
				h3 {
					margin-bottom: 1rem;
					margin-top: -.5rem;
				}
			}
			&.default {
				.sub-menu-menus {
					.menu {
						columns: 1;
						column-gap: 2rem;
						.menu-item {
							display: inline-block;
							width: 100%;
							break-inside: avoid;
						}
					}
				}
			}
			&.sub-menus {
				h4 {
					color: $gray;
				}
			}
		}
		.container {
			padding-top: 2rem;
			padding-bottom: 3.25rem;
		}
		h3 {
			font-weight: 700;
			margin-bottom: 1.5rem;
			+ .sub-menu-cta-links {
				margin-top: 2rem;
			}
		}
		.sub-menu-menus {
			display: flex;
			margin: 0 -1rem;
			.sub-menu-container {
				flex: 1 1 auto;
				padding: 0 1rem;
				border-left: 2px solid transparent;
				&:first-child {
					border-left: none;
					.menu:before {
						display: none;
					}
				}
			}
			h4 {
				font-family: $font-family-sans-serif-alt;
				font-weight: 600;
				text-transform: capitalize;
				letter-spacing: .0165em;
				margin-bottom: 0.95rem;
				margin-top: 0.3rem;
				font-size: 1.32rem;
				color: rgba($dark-blue, .5);
				a {
					padding: 0;
					color: inherit;
				}
				strong {
					display: block;
					color: $primary;
				}
			}
			.menu {
				margin: 0;
				display: block;
				font-weight: 400;
				font-size: 1rem;
				position: relative;
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: calc(-1rem - 2px);
					top: 0;
					height: 100%;
					border-left: 2px dotted #E9EFF3;
				}
				@include media-breakpoint-up(lg) {
					font-size: 1.25rem;
				}
				.menu-item {
					margin-bottom: 0.5rem;
				}
				a {
					padding: 0;
					color: rgba(#002649, .85);
					display: block;
					font-weight: 500;
					&:hover {
						color: $blue;
						&:after {
							opacity: 1;
							right: 0;
						}
					}
					&:after {
						@include media-breakpoint-up(xl) {
							@include icon(map-get($icomoon-icons, arrow-right), icomoon);
							position: relative;
							margin-left: .5em;
							margin-right: -.5em;
							top: .08em;
							right: .5em;
							opacity: 0;
							transition: right ease-out .15s, opacity .15s;
						}
					}
				}
			}
			+ .sub-menu-cta-links {
				margin-top: 2rem;
			}
		}
		.sub-menu-content {
			line-height: 1.34;
			font-size: 1rem;
			color: rgba(#1c406f, .5);
			font-weight: 300;
			@include media-breakpoint-up(lg) {
				font-size: 1.124rem;
			}
			+ .sub-menu-cta-links {
				margin-top: 2rem;
			}
			a {
				color: inherit;
				&:hover {
					color: $link-color;
				}
			}
			.contact-info {
				.directions {
					display: none;
				}
			}
		}
		.sub-menu-events {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -1rem -1rem;
			.event-container {
				margin-bottom: 1rem;
				padding: 0 1rem;
				width: 100%;
				// @include media-breakpoint-up(xl) {
				// 	width: 50%;
				// }
			}
			.event-teaser {
				a {
					display: block;
				}
				.entry-title {
					font-weight: 400;
					margin-bottom: 0.5rem;
					font-size: 1.5rem;
				}
			}
		}
		.sub-menu-cta-links {
			li {
				margin-bottom: .5rem;
			}
			a {
				@extend .btn;
				@extend .btn-outline-blue;
				@extend .btn-has-arrow-icon;
				@extend .btn-sm;
				@include media-breakpoint-up(lg) {
					@include make-button-size(md);
					border-width: 3px;
					padding: calc(#{$btn-padding-y} - (3px - #{$btn-border-width})) calc(#{$btn-padding-x} - (3px - #{$btn-border-width}));
				}
			}
		}
		.social-links {
			.menu {
				margin: -.4rem;
			}
		}
	}
}


/*	Search Form
---------------------------------------------------------*/

#header-search {
	display: none;
	margin-left: .5rem;
	position: relative;
	z-index: 1;
	@include media-breakpoint-up(md) {
		display: block;
	}
	@include media-breakpoint-up(lg) {
		margin-left: 1rem;
	}
	#header.search-active & {
		button.toggle {
			.icon { opacity: 0; }
			&:after { opacity: 1; }
		}
		.search-form {
			opacity: 1;
			visibility: visible;
			transform: none;
			transition: opacity .3s .3s, visibility 0s .3s, transform .3s .3s ease-out;
		}
	}
	button.toggle {
		padding: 0;
		border: none;
		outline: none;
		box-shadow: none;
		background-color: transparent;
		width: 2rem;
		height: 2rem;
		position: relative;
		display: block;
		transition: color .15s, opacity .15s;
		color: $primary;
		overflow: hidden;
		#header.text-color-light &,
		body.header-dropdown-active & {
			color: #fff;
			&:hover {
				opacity: .75;
			}
		}
		#header.is-sticky & {
			color: $primary;
			&:hover {
				opacity: 1;
				color: $blue;
			}
			body.header-dropdown-active & {
				color: #fff;
				&:hover {
					opacity: .75;
				}
			}
		}
		&:hover {
			color: $blue;
		}
		&:after {
			opacity: 0;
			content: '×';
			width: 2rem;
			height: 2rem;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			font-weight: 400;
			line-height: 1;
			font-size: 2rem;
			font-family: $font-family-sans-serif-alt;
			transition: opacity .3s, color .15s;
			margin-top: -.05rem;
		}
		.icon {
			width: 1.25rem;
			height: 1.25rem;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			transition: opacity .3s;
			svg {
				width: 100%;
				height: 100%;
				transition: fill .15s;
				display: block;
			}
		}
		.label {
			display: none;
		}
	}
	.search-form {
		opacity: 0;
		visibility: hidden;
		transform: translateX(1rem);
		transition: opacity .3s, visibility 0s .3s, transform 0s .3s ease-out;
		position: absolute;
		right: 100%;
		margin-right: 1rem;
		top: -.4rem;
		width: 20rem;
		.icon {
			width: 1.25rem;
			height: 1.25rem;
			left: .75rem;
			top: .75rem;
			margin-top: 0;
			transition: color .15s;
			#header.text-color-light &,
			body.header-dropdown-active & {
				color: #fff;
			}
			#header.is-sticky & {
				color: $primary;
				body.header-dropdown-active & {
					color: #fff;
				}
			}
		}
		input[type=search] {
			padding: .75rem 1.25rem;
			box-shadow: none;
			border: 1px solid $primary;
			border-radius: 10rem;
			height: auto;
			padding-left: 2.5rem;
			transition: border-color .15s, color .15s;
			#header.text-color-light &,
			body.header-dropdown-active & {
				border-color: #fff;
				color: #fff;
			}
			#header.is-sticky & {
				border-color: $primary;
				color: $input-color;
				body.header-dropdown-active & {
					border-color: #fff;
					color: #fff;
				}
			}
			&::placeholder {
				transition: color .15s;
				#header.text-color-light &,
				body.header-dropdown-active & {
					color: rgba(#fff, .3);
				}
				#header.is-sticky & {
					color: $input-placeholder-color;
					body.header-dropdown-active & {
						color: rgba(#fff, .3);
					}
				}
			}
		}
	}
}