
#header {
	background-color: #eee;
	position: relative;
	> .inner {
		> .container {
			// max-width: 100%;
			padding-top: 10px;
			padding-bottom: 10px;
			@include media-breakpoint-up(lg) {
				padding-top: 20px;
				padding-bottom: 20px;
			}
			> .inner {
				display: flex;
				align-items: center;
				position: relative;
			}
		}
	}
}

#wpadminbar {
	// position: fixed;
	z-index: 99980;
}


/*	Site Announcement
---------------------------------------------------------*/

#site-announcement {
	line-height: $line-height-sm;
	font-size: 1rem;
	position: relative;
	display: none;
	text-transform: uppercase;
	letter-spacing: .05em;
	@include media-breakpoint-up(md) {
		font-size: 1.375rem;
	}
	&.active {
		display: block;
	}
	&.text-color-light {
		color: #fff;
	}
	> .inner {
		padding-right: 2rem;
		@include media-breakpoint-up(sm) {
			padding-left: 2rem;
		}
	}
	button.dismiss {
		background-color: transparent;
		border: none;
		padding: 0;
		line-height: 1;
		overflow: hidden;
		text-indent: -100000px;
		width: 1.5rem;
		height: 1.5rem;
		position: relative;
		color: inherit;
		position: absolute;
		right: .5rem;
		top: calc(50% - .75rem);
		outline: none;
		transition: opacity .15s;
		opacity: .8;
		&:hover {
			opacity: 1;
		}
		&:before {
			content: '\d7';
			position: absolute;
			left: 0;
			top: -.1rem;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			line-height: 1;
			font-size: 1.5rem;
			text-indent: 0;
			font-weight: 300;
		}
	}
	.container {
		max-width: 100%;
		padding: .4rem 1rem;
		display: flex;
		align-items: center;
		min-height: 3rem;
		@include media-breakpoint-up(sm) {
			justify-content: center;
			text-align: center;
		}
		> .inner {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			margin: -.25rem -.5rem;
			@include media-breakpoint-up(sm) {
				justify-content: center;
			}
		}
	}
	p {
		margin: .25rem .5rem;
	}
	.message {
		+ .link {
			@include media-breakpoint-up(lg) {
				padding-left: 1rem;
				border-left: 2px solid #fff;
			}
		}
	}
	.link {
		a {
			font-weight: 700;
			color: inherit;
			transition: opacity .15s;
			&:hover {
				opacity: .8;
			}
		}
	}
}


/*	Mobile Menu Toggle
---------------------------------------------------------*/

#mobile-menu-toggle {
	display: flex;
	align-items: center;
	padding: 0;
	border: none;
	box-shadow: none;
	position: relative;
	outline: none;
	line-height: $line-height-sm;
	font-size: 0.875rem;
	order: -1;
	height: 30px;
	@include media-breakpoint-up(md) {
		display: none;
	}
	.label {
		order: -1;
		margin-right: .5rem;
		display: none;
	}
	.icon {
		position: relative;
		display: block;
		width: 30px;
		height: 3px;
		background-color: $dark-blue;
		box-shadow: 0 8px 0 $dark-blue, 0 -8px 0 $dark-blue;
		transition: box-shadow .2s, background-color 0s .2s;
		&:before,
		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			position: absolute;
			background-color: $dark-blue;
			transition: transform .2s ease-out;
		}
	}
}
body.mobile-menu-active {
	#mobile-menu-toggle {
		.icon {
			box-shadow: 0 0px 0 transparent, 0 -0px 0 transparent;
			background-color: transparent;
			transition-delay: 0s;
			&:before { transform: rotate(-45deg); }
			&:after { transform: rotate(45deg); }
		}
	}
}


/*	Branding
---------------------------------------------------------*/

#site-branding {
	flex: 1 1 auto;
	margin-left: 1rem;
	display: flex;
	justify-content: flex-end;
	@include media-breakpoint-up(md) {
		flex: 0 0 150px;
		margin-left: 0;
		margin-right: 1rem;
		display: block;
	}
	@include media-breakpoint-up(lg) {
		margin-right: 2rem;
		flex: 0 0 225px;
	}
}
#site-title {
	width: 120px;
	@include media-breakpoint-up(md) {
		width: 100%;
	}
	a {
		display: block;
		padding-top: 40%;
		height: 0;
		overflow: hidden;
		text-indent: -1000000px;
		background-image: url(../img/logos/sbdc-california-450w.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: left center;
	}
}


/*	Primary CTA Links
---------------------------------------------------------*/

#header-primary-cta-links {
	margin-right: 1rem;
	display: none;
	@include media-breakpoint-up(md) {
		margin-right: 0;
		margin-left: 1rem;
		display: block;
	}
	@include media-breakpoint-up(lg) {
		margin-left: 2rem;
	}
	ul {
		list-style: none;
		margin: 0 -0.125rem;
		padding: 0;
		display: flex;
	}
	li {
		margin: 0 0.125rem;
	}
	a {
		@extend .btn;
		@extend .btn-sm;
		@extend .btn-outline-red;
		@include media-breakpoint-up(lg) {
			@include make-button-size(md);
			border-width: 3px;
			padding: calc(#{$btn-padding-y} - (3px - #{$btn-border-width})) calc(#{$btn-padding-x} - (3px - #{$btn-border-width}));
		}
		@include media-breakpoint-up(xl) {
			@include make-button-size(lg);
			border-width: 4px;
			padding: calc(#{$btn-padding-y-lg} - (4px - #{$btn-border-width})) calc(#{$btn-padding-x-lg} - (4px - #{$btn-border-width}));
		}
	}
}


/*	Primary Nav
---------------------------------------------------------*/

#header-primary-navigation {
	display: none;
	flex: 1 1 auto;
	margin-top: -10px;
	margin-bottom: -10px;
	align-self: stretch;
	justify-content: flex-end;
	@include media-breakpoint-up(md) {
		display: flex;
	}
	@include media-breakpoint-up(lg) {
		margin-top: -20px;
		margin-bottom: -20px;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.menu {
		line-height: $line-height-sm;
		font-size: 0.875rem;
		display: flex;
		font-weight: 700;
		margin: 0 -0.5rem;
		@include media-breakpoint-up(lg) {
			margin: 0 -1rem;
			font-size: 1.25rem;
		}
		.menu-item {
			position: relative;
			display: flex;
			&.mega-menu-item {
				position: static;
			}
			&:hover,
			&.active {
				> a {
					color: $dark-blue;
					.label:after {
						opacity: 1;
					}
				}
			}
			&.active {
				> .sub-menu {
					opacity: 1;
					visibility: visible;
					transition-delay: 0s;
					transform: none;
				}
			}
		}
		a {
			color: $dark-blue;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			padding: 0.5rem 0.5rem;
			transition: color .15s;
			cursor: pointer;
			@include media-breakpoint-up(lg) {
				padding: 0.5rem 1rem;
			}
			.label {
				padding: 0.3rem 0;
				position: relative;
				display: block;
				@include media-breakpoint-up(lg) {
					padding: 0.5rem 0;
				}
				&:after {
					content: '';
					border-top: 2px solid $dark-blue;
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					opacity: 0;
					transition: opacity .15s;
					@include media-breakpoint-up(lg) {
						border-top-width: 4px;
					}
				}
			}
		}
	}
	.sub-menu {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		z-index: 550;
		transition: opacity .2s, visibility 0s .2s, transform .2s ease-out;
		transform: translateY(-10px);
		left: -0.5rem;
		top: 100%;
		margin-top: 0.625rem;
		width: 15rem;
		padding: .5rem 0;
		background-color: #fff;
		box-shadow: 0 2px 6px fade-out(#000000, .8);
		border-radius: 3px;
		font-weight: 400;
		@include media-breakpoint-up(lg) {
			left: -10px;
			padding: 1rem 0;
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			bottom: 100%;
			right: 0;
			height: 0.625rem;
		}
		.menu-item {
			display: block;
		}
		a {
			display: block;
			text-align: left;
			padding: .5rem 1rem;
			@include media-breakpoint-up(lg) {
				padding: .5rem 1.5rem;
			}
		}
		.sub-menu {
			left: calc(100% + 0.5rem);
			margin-top: 0;
			top: -0.5rem;
			transform: translateX(-10px);
			@include media-breakpoint-up(lg) {
				top: -1rem;
			}
			&.drop-left {
				left: auto;
				right: calc(100% + 0.5rem);
				transform: translateX(10px);
				&:before {
					right: auto;
					left: 100%;
				}
			}
			&:before {
				bottom: 0;
				top: 0;
				right: 100%;
				left: auto;
				height: auto;
				width: 0.625rem;
			}
		}
	}
	.mega-sub-menu {
		width: 100%;
		left: 0;
		padding: 0;
		min-height: 100px;
		display: flex;
		top: calc(100% + 10px);
		border-radius: 0;
		border-top: 10px solid $red;
		@include media-breakpoint-up(lg) {
			top: calc(100% + 20px);
		}
		> .inner {
			display: flex;
			width: 100%;
		}
		.sub-menu-section {
			flex: 1 1 auto;
			&.primary {
				&.default {
					.sub-menu-menus {
						.menu {
							columns: 3;
						}
					}
				}
			}
			&.secondary {
				flex: 0 0 percentage(1 / 3);
				background-color: $x-light-blue;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				h3 {
					margin-bottom: 1rem;
				}
			}
			&.default {
				.sub-menu-menus {
					h4 {
						font-size: 1.125rem;
						text-transform: uppercase;
					}
					.menu {
						columns: 2;
						column-gap: 2rem;
						.menu-item {
							display: inline-block;
							width: 100%;
							break-inside: avoid;
						}
					}
				}
			}
		}
		.container {
			padding-top: 2rem;
			padding-bottom: 2rem;
		}
		h3 {
			font-weight: 400;
			margin-bottom: 2.5rem;
			+ .sub-menu-cta-links {
				margin-top: 2rem;
			}
		}
		.sub-menu-menus {
			display: flex;
			margin: 0 -1rem;
			.sub-menu-container {
				flex: 1 1 auto;
				padding: 0 1rem;
			}
			h4 {
				font-weight: 500;
				a {
					padding: 0;
				}
			}
			.menu {
				margin: 0;
				display: block;
				font-weight: 400;
				font-size: 1rem;
				font-family: $font-family-sans-serif-alt;
				@include media-breakpoint-up(lg) {
					font-size: 1.25rem;
				}
				.menu-item {
					margin-bottom: 0.5rem;
				}
				a {
					padding: 0;
					color: rgba($dark, .8);
					&:hover {
						color: $primary;
					}
				}
			}
			+ .sub-menu-cta-links {
				margin-top: 2rem;
			}
		}
		.sub-menu-content {
			line-height: $line-height-base;
			font-family: $font-family-sans-serif-alt;
			font-size: 1rem;
			color: rgba($dark, .8);
			@include media-breakpoint-up(lg) {
				font-size: 1.25rem;
			}
			+ .sub-menu-cta-links {
				margin-top: 2rem;
			}
		}
		.sub-menu-cta-links {
			li {
				margin-bottom: .5rem;
			}
			a {
				@extend .btn;
				@extend .btn-outline-blue;
				@extend .btn-has-arrow-icon;
				@extend .btn-sm;
				@include media-breakpoint-up(lg) {
					@include make-button-size(md);
					border-width: 3px;
					padding: calc(#{$btn-padding-y} - (3px - #{$btn-border-width})) calc(#{$btn-padding-x} - (3px - #{$btn-border-width}));
				}
			}
		}
	}
}