

#main {
	.container {
		padding-top: 40px;
		padding-bottom: 40px;
		@include media-breakpoint-up(md) {
			padding-top: 60px;
			padding-bottom: 60px;
		}
		@include media-breakpoint-up(lg) {
			padding-top: 80px;
			padding-bottom: 80px;
		}
		@include media-breakpoint-up(xl) {
			padding-top: 100px;
			padding-bottom: 100px;
		}
		> .inner {
			margin-left: auto;
			margin-right: auto;
			max-width: 900px;
		}
	}
}

#main-content,
#main .container > .inner {
	> .wp-block-crown-blocks-call-to-action.alignfull,
	> .wp-block-crown-blocks-container.alignfull,
	> .wp-block-crown-blocks-container-featured-image.alignfull,
	> .wp-block-crown-blocks-promo.alignfull {
		&:first-child {
			margin-top: -40px;
			@include media-breakpoint-up(md) {
				margin-top: -60px;
			}
			@include media-breakpoint-up(lg) {
				margin-top: -80px;
			}
			@include media-breakpoint-up(xl) {
				margin-top: -100px;
			}
			body.page-header-overlay-header & {
				margin-top: -40px - 66px;
				padding-top: 66px;
				@include media-breakpoint-up(md) {
					margin-top: -60px - 66px;
				}
				@include media-breakpoint-up(lg) {
					margin-top: -80px - 94px;
					padding-top: 94px;
				}
				@include media-breakpoint-up(xl) {
					margin-top: -100px - 94px;
				}
			}
		}
		&:last-child {
			margin-bottom: -40px;
			@include media-breakpoint-up(md) {
				margin-bottom: -60px;
			}
			@include media-breakpoint-up(lg) {
				margin-bottom: -80px;
			}
			@include media-breakpoint-up(xl) {
				margin-bottom: -100px;
			}
		}
	}
}