

#main {
	.container {
		padding-top: 40px;
		// padding-bottom: 40px;
		padding-bottom: calc(40px + (4.75rem / 2));
		@include media-breakpoint-up(md) {
			padding-top: 60px;
			// padding-bottom: 60px;
			padding-bottom: calc(60px + (7.5rem / 2));
		}
		@include media-breakpoint-up(lg) {
			padding-top: 80px;
			// padding-bottom: 80px;
			padding-bottom: calc(80px + (7.5rem / 2));
		}
		@include media-breakpoint-up(xl) {
			padding-top: 100px;
			// padding-bottom: 100px;
			padding-bottom: calc(100px + (7.5rem / 2));
		}
		> .inner {
			margin-left: auto;
			margin-right: auto;
			max-width: 900px;
		}
	}
	a {
		text-decoration: underline;
	}
}

#main-content,
#main .container > .inner {
	> .wp-block-crown-blocks-call-to-action.alignfull,
	> .wp-block-crown-blocks-container.alignfull,
	> .wp-block-crown-blocks-container-featured-image.alignfull,
	> .wp-block-crown-blocks-promo.alignfull,
	> .wp-block-crown-blocks-post-header,
	> .wp-block-crown-blocks-resource-header,
	> .wp-block-crown-blocks-event-header,
	> .wp-block-crown-blocks-client-story-header,
	> .wp-block-crown-blocks-webinar-header {
		&:first-child {
			margin-top: -40px;
			@include media-breakpoint-up(md) {
				margin-top: -60px;
			}
			@include media-breakpoint-up(lg) {
				margin-top: -80px;
			}
			@include media-breakpoint-up(xl) {
				margin-top: -100px;
			}
			& {
				margin-top: -40px - 68px;
				padding-top: 68px;
				@include media-breakpoint-up(md) {
					margin-top: -60px - 80px;
					padding-top: 80px;
				}
				@include media-breakpoint-up(lg) {
					margin-top: -80px - 130px;
					padding-top: 130px;
				}
				@include media-breakpoint-up(xl) {
					margin-top: -100px - 130px;
				}
			}
		}
		&:last-child {
			margin-bottom: -40px;
			@include media-breakpoint-up(md) {
				margin-bottom: -60px;
			}
			@include media-breakpoint-up(lg) {
				margin-bottom: -80px;
			}
			@include media-breakpoint-up(xl) {
				margin-bottom: -100px;
			}
			& {
				margin-bottom: calc(-40px - (4.75rem / 2));
				padding-bottom: (5.1875rem / 2);
				@include media-breakpoint-up(md) {
					margin-bottom: calc(-60px - (7.5rem / 2));
					padding-bottom: (6.5625rem / 2);
				}
				@include media-breakpoint-up(lg) {
					margin-bottom: calc(-80px - (7.5rem / 2));
				}
				@include media-breakpoint-up(xl) {
					margin-bottom: calc(-100px - (7.5rem / 2));
				}
			}
			body.single-post &,
			body.single-resource &,
			body.single-event & {
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
	}
}