

#page {
	transition: transform .2s ease-out;
	body.mobile-menu-active & {
		transform: translate3d(-$mobile-menu-width, 0, 0);
	}
}

#mobile-menu {
	position: fixed;
	width: $mobile-menu-width;
	left: 100%;
	top: 0;
	bottom: 0;
	transition: transform .2s ease-out, visibility 0s .2s;
	background-color: $dark;
	overflow: hidden;
	visibility: hidden;
	@include media-breakpoint-up(md) {
		display: none;
	}
	body.mobile-menu-active & {
		transform: translate3d(-$mobile-menu-width, 0, 0);
		visibility: visible;
		transition-delay: 0s;
	}
	> .scrollable {
		overflow-y: auto;
		overflow-x: hidden;
		height: 100%;
		transition: transform .2s ease-out;
		transform: translate3d(-($mobile-menu-width / 2), 0, 0);
		body.mobile-menu-active & {
			transform: none;
		}
	}
}


/*	Primary Nav
---------------------------------------------------------*/

#mobile-menu-primary-navigation {
	padding: 14px 0;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.menu {
		font-weight: 800;
		text-transform: uppercase;
		line-height: $line-height-sm;
		letter-spacing: .1em;
		font-size: 0.875rem;
		.menu-item {
			border-top: 1px solid mix(#fff, $dark, 10%);
			&:first-child {
				border-top: none;
			}
		}
		a {
			display: block;
			padding: 16px 15px;
			color: #fff;
		}
	}
	.sub-menu {
		text-transform: none;
		letter-spacing: 0;
		font-weight: 400;
		margin-bottom: 20px;
		.menu-item {
			border-top: none;
		}
		a {
			padding-top: 6px;
			padding-bottom: 6px;
			padding-left: 15px * 2;
		}
	}
	
}