

// variables
@import 'config/_functions';
@import 'config/_variables';

// libraries
@import '../../../lib/bootstrap/scss/bootstrap';
@import '../../../lib/font-awesome/scss/fontawesome.scss';

// configuration
@import 'config/_fonts';
@import 'config/_mixins';
@import 'config/_icons';

// core
@import 'core/_scaffolding';
@import 'core/_type';
@import 'core/_grid';
@import 'core/_forms';

// components
@import 'components/_links';
@import 'components/_buttons';
@import 'components/_search-form';
@import 'components/_pagination';
@import 'components/_alerts';
@import 'components/_other';
@import 'components/_blocks';

// modules
@import 'modules/_gravity-forms';



.editor-styles-wrapper {
	background: #fff;
	padding: 0;
}
.block-editor-writing-flow {
	display: flex;
	flex-direction: column;
}
body {
	padding: 0;
	background: #fff;
	&#tinymce {
		padding: 1rem !important;
	}
}


.editor-post-title__input {
	font-family: $headings-font-family;
	text-align: center;
}
.components-button {
	overflow: hidden;
}


.wp-block {
	max-width: 900px;
	&[data-align=wide] {
		max-width: 1260px;
	}
	&[data-align=full] {
		max-width: none;
	}
}

.block-editor-block-list__block[data-type="crown-blocks/container"][data-align="full"],
.block-editor-block-list__block[data-type="crown-blocks/container-featured-image"][data-align="full"],
.block-editor-block-list__block[data-type="crown-blocks/promo"][data-align="full"],
.block-editor-block-list__block[data-type="crown-blocks/call-to-action"][data-align="full"],
.block-editor-block-list__block[data-type="crown-blocks/section-nav"][data-align="full"],
.wp-block[data-type="crown-blocks/event-header"] {
	+ .block-editor-block-list__block[data-type="crown-blocks/container"][data-align="full"],
	+ .block-editor-block-list__block[data-type="crown-blocks/container-featured-image"][data-align="full"],
	+ .block-editor-block-list__block[data-type="crown-blocks/promo"][data-align="full"],
	+ .block-editor-block-list__block[data-type="crown-blocks/call-to-action"][data-align="full"],
	+ .block-editor-block-list__block[data-type="crown-blocks/section-nav"][data-align="full"] {
		margin-top: -28px;
	}
}

.wp-block-pullquote {
	border-bottom: none;
	color: inherit;
	font-size: 1.5rem;
	@include media-breakpoint-up(md) {
		font-size: 1.875rem;
	}
}
.wp-block[data-type="core/pullquote"],
.block-editor-block-list__block[data-type="core/pullquote"] {
	.wp-block[data-align=wide] > & {
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
		@include media-breakpoint-up(md) { max-width: 900px + 32px; }
		@include media-breakpoint-up(lg) { max-width: 900px + 48px; }
		@include media-breakpoint-up(xl) { max-width: 900px + 64px; }
	}
	.wp-block[data-align=left] > & {
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.5rem;
		@include media-breakpoint-up(md) { margin-left: -1rem; width: calc(50% - 1rem + 1rem); margin-right: 2rem; float: left; max-width: none; }
		@include media-breakpoint-up(lg) { margin-left: -1.5rem; width: calc(50% - 1rem + 1.5rem); }
		@include media-breakpoint-up(xl) { margin-left: -2rem; width: calc(33.3333% - 1rem + 2rem); }
		p { font-size: inherit; }
	}
	.wp-block[data-align=right] > & {
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.5rem;
		@include media-breakpoint-up(md) { margin-right: -1rem; width: calc(50% - 1rem + 1rem); margin-left: 2rem; float: right; max-width: none; }
		@include media-breakpoint-up(lg) { margin-right: -1.5rem; width: calc(50% - 1rem + 1.5rem); }
		@include media-breakpoint-up(xl) { margin-right: -2rem; width: calc(33.3333% - 1rem + 2rem); }
		p { font-size: inherit; }
	}
}

.block-editor-block-list__block[data-type="crown-blocks/container"] {
	> .wp-block[data-align="wide"] {
		> .crown-block-editor-container > .wp-block-crown-blocks-container {
			> .inner > .container-contents {
				@include media-breakpoint-up(xl) {
					// padding: 40px;
				}
			}
		}
	}
	> .wp-block[data-align="full"] {
		> .crown-block-editor-container > .wp-block-crown-blocks-container {
			> .inner > .container-contents {
				@each $breakpoint, $padding-x in $container-padding-x {
					@include media-breakpoint-up($breakpoint, $grid-breakpoints) {
						padding-left: $padding-x;
						padding-right: $padding-x;
					}
				}
				padding-top: 40px;
				padding-bottom: 40px;
				// max-width: $container-effective-max-width;
				@include media-breakpoint-up(md) {
					padding-top: 60px;
					padding-bottom: 60px;
				}
				// @include media-breakpoint-up(lg) {
				// 	padding-top: 80px;
				// 	padding-bottom: 80px;
				// }
				// @include media-breakpoint-up(xl) {
				// 	padding-top: 100px;
				// 	padding-bottom: 100px;
				// }
			}
		}
	}
}
.block-editor-block-list__block[data-type="crown-blocks/container"] > .wp-block,
.wp-block[data-type="crown-blocks/container"] {
	> .crown-block-editor-container > .wp-block-crown-blocks-container {
		> .inner > .container-contents {
			> .inner > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block:first-child {
				margin-top: 0;
			}
		}
	}
}

.wp-block-crown-blocks-multi-column {
	&.relative-to-container-width {
		> .inner {
			> .multi-column-columns {
				max-width: none;
			}
		}
	}
}

.wp-block-crown-blocks-grid {
	&.is-style-dividers {
		$column-cell-selector: '> .inner > .grid-columns > .inner > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block';
		#{$column-cell-selector} > .crown-block-editor-container {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				display: block;
				left: 0;
				top: .4rem;
				bottom: .4rem;
				border-left: 6px solid $primary;
				opacity: .2;
				margin-left: -3px;
				.text-color-light & {
					border-left-color: #fff;
				}
				.text-color-dark & {
					border-left-color: $primary;
				}
			}
		}
		&.column-breakpoint-xs {
			@for $i from 1 through 6 {
				&.column-count-xs-#{$i} #{$column-cell-selector}:nth-child(#{$i}n + 1) > .crown-block-editor-container:before { display: none; }
			}
			@for $i from 0 through 16 {
				&.column-spacing-xs-#{$i} #{$column-cell-selector} > .crown-block-editor-container:before { left: ($i * 1rem) / -2; }
			}
		}
		@media (min-width: 576px) {
			&.column-breakpoint-xs, &.column-breakpoint-sm {
				@for $i from 1 through 6 {
					&.column-count-sm-#{$i} #{$column-cell-selector}:nth-child(#{$i}n + 1) > .crown-block-editor-container:before { display: none; }
				}
				@for $i from 0 through 16 {
					&.column-spacing-sm-#{$i} #{$column-cell-selector} > .crown-block-editor-container:before { left: ($i * 1rem) / -2; }
				}
			}
		}
		@media (min-width: 768px) {
			&.column-breakpoint-xs, &.column-breakpoint-sm, &.column-breakpoint-md {
				@for $i from 1 through 6 {
					&.column-count-md-#{$i} #{$column-cell-selector}:nth-child(#{$i}n + 1) > .crown-block-editor-container:before { display: none; }
				}
				@for $i from 0 through 16 {
					&.column-spacing-md-#{$i} #{$column-cell-selector} > .crown-block-editor-container:before { left: ($i * 1rem) / -2; }
				}
			}
		}
		@media (min-width: 992px) {
			&.column-breakpoint-xs, &.column-breakpoint-sm, &.column-breakpoint-md, &.column-breakpoint-lg {
				@for $i from 1 through 6 {
					&.column-count-lg-#{$i} #{$column-cell-selector}:nth-child(#{$i}n + 1) > .crown-block-editor-container:before { display: none; }
				}
				@for $i from 0 through 16 {
					&.column-spacing-lg-#{$i} #{$column-cell-selector} > .crown-block-editor-container:before { left: ($i * 1rem) / -2; }
				}
			}
		}
		@media (min-width: 1200px) {
			&.column-breakpoint-xs, &.column-breakpoint-sm, &.column-breakpoint-md, &.column-breakpoint-lg, &.column-breakpoint-xl {
				@for $i from 1 through 6 {
					&.column-count-xl-#{$i} #{$column-cell-selector}:nth-child(#{$i}n + 1) > .crown-block-editor-container:before { display: none; }
				}
				@for $i from 0 through 16 {
					&.column-spacing-xl-#{$i} #{$column-cell-selector} > .crown-block-editor-container:before { left: ($i * 1rem) / -2; }
				}
			}
		}
	}
}

.wp-block[data-type="crown-blocks/tabbed-content"] {
	> .crown-block-editor-container > .wp-block-crown-blocks-tabbed-content {
		.tabbed-content-tabs {
			> .inner {
				display: block;
			}
		}
	}
}

.block-editor-block-list__block[data-type="crown-blocks/section-nav"] {
	.wp-block-crown-blocks-section-nav {
		.section-nav-title {
			display: block;
		}
		&.layout-sidebar {
			> .inner {
				@include media-breakpoint-up(md) {
					display: block;
					margin: 0;
				}
			}
			.section-nav-contents {
				@include media-breakpoint-up(md) {
					padding: 0;
					width: auto;
				}
			}
		}
	}
}

.wp-block[data-type="crown-blocks/container-featured-image"] {
	+ .wp-block[data-type="crown-blocks/container-featured-image"] {
		margin-top: -28px;
	}
	&[data-align="wide"] .wp-block-crown-blocks-container-featured-image,
	&[data-align="full"] .wp-block-crown-blocks-container-featured-image,
	.wp-block-crown-blocks-container-featured-image.display-jumbo {
		&.has-featured-image {
			.container-contents {
				@include media-breakpoint-up(sm) {
					text-align: left;
				}
				@include media-breakpoint-up(lg) {
					max-width: calc(50% - (520px * 0.07027041735) - 5px);
				}
			}
		}
		> .inner,
		> a > .inner {
			@include media-breakpoint-up(lg) {
				min-height: 520px;
			}
		}
		.container-contents {
			> .inner {
				@include media-breakpoint-up(lg) {
					padding: 60px 40px 80px;
					max-width: 900px + (40px * 2);
				}
			}
		}
		.container-featured-image {
			> .inner {
				@include media-breakpoint-up(sm) {
					border-left-width: 10px;
				}
			}
		}
		&.featured-image-left .container-featured-image {
			> .inner {
				@include media-breakpoint-up(sm) {
					border-left: none;
					border-right-width: 10px;
				}
			}
		}
	}
}

.wp-block[data-type="crown-blocks/expandable-content"] {
	.wp-block-crown-blocks-expandable-content {
		border: 1px dashed fade-out(#000, .6);
		padding: 20px;
		.expandable-content-toggle {
			margin-bottom: 1rem;
		}
	}
}

.block-editor-block-list__block[data-type="crown-blocks/column"] > .wp-block,
.wp-block[data-type="crown-blocks/column"] {
	> .crown-block-editor-container > .wp-block-crown-blocks-column {
		> .inner > .column-contents {
			> .inner > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block:first-child {
				margin-top: 0;
			}
		}
	}
}

.wp-block[data-type="crown-blocks/core-values"] {
	.wp-block-crown-blocks-core-values {
		border-left: 1px dashed $light-gray;
		padding-left: 30px;
		> .inner {
			display: block;
		}
		.core-values-overview {
			padding-left: 0;
			margin-bottom: 30px;
		}
		.core-values-items {
			padding-right: 0;
			border-right: none;
		}
	}
}

.wp-block[data-type="crown-blocks/core-values-item"] {
	margin: 0;
	.wp-block-crown-blocks-core-values-item {
		margin-bottom: 30px;
		padding: 0;
		.value-title {
			text-align: left;
		}
		.value-description {
			position: static;
			opacity: 1;
			visibility: visible;
			transform: none;
		}
	}
}

.wp-block[data-type="crown-blocks/featured-client-story"] {
	a {
		color: inherit;
	}
	h6 {
		font-weight: 400;
		+ h3 {
			margin-top: 0;
		}
	}
}

.wp-block[data-type="crown-blocks/featured-event"] {
	a {
		color: inherit;
	}
	.entry-label {
		font-weight: 400;
		+ .entry-title {
			margin-top: 0;
		}
	}
}

.wp-block[data-type="crown-blocks/testimonial-slider"] {
	.testimonial-slider-title {
		margin-bottom: 1rem;
	}
	.testimonial-slider-testimonials {
		> .inner {
			display: block;
		}
	}
}

.wp-block[data-type="crown-blocks/stat"] {
	+ .wp-block[data-type="crown-blocks/stat"] {
		padding-top: 1rem;
		border-top: 4px dotted rgba($body-color, .5);
		.text-color-light & { border-color: rgba(#fff, .5); }
		.text-color-dark & { border-color: rgba($body-color, .5); }
	}
}

.wp-block[data-type="crown-blocks/stat-table"] {
	.wp-block[data-type="crown-blocks/stat"] {
		margin: 0;
		+ .wp-block[data-type="crown-blocks/stat"] {
			padding-top: 1rem;
			border-top: 1px solid $body-color;
			.text-color-light & { border-color: #fff; }
			.text-color-dark & { border-color: $body-color; }
		}
	}
}

.wp-block[data-type="crown-blocks/post-header"] {
	max-width: none;
	.wp-block-crown-blocks-post-header {
		margin-left: 0;
		margin-right: 0;
	}
}

.wp-block[data-type="crown-blocks/resource-header"] {
	max-width: none;
	.wp-block-crown-blocks-resource-header {
		margin-left: 0;
		margin-right: 0;
	}
}

.wp-block[data-type="crown-blocks/hover-container"] {
	.wp-block-crown-blocks-hover-container {
		.details {
			height: auto;
			overflow: visible;
		}
		.content {
			opacity: 1;
		}
		.cta-label {
			opacity: 1;
			right: 0;
		}
		&.hover-type-left-aligned {
			.content {
				transform: none;
			}
		}
	}
}

.wp-block[data-type="crown-blocks/webinar-header"] {
	max-width: none;
	.wp-block-crown-blocks-webinar-header {
		margin-left: 0;
		margin-right: 0;
	}
}