

// variables
@import 'config/_functions';
@import 'config/_variables';

// libraries
@import '../../../lib/bootstrap/scss/bootstrap';
@import '../../../lib/font-awesome/scss/fontawesome.scss';

// configuration
@import 'config/_fonts';
@import 'config/_mixins';
@import 'config/_icons';

// core
@import 'core/_scaffolding';
@import 'core/_type';
@import 'core/_grid';
@import 'core/_forms';

// components
@import 'components/_links';
@import 'components/_buttons';
@import 'components/_search-form';
@import 'components/_pagination';
@import 'components/_other';
@import 'components/_blocks';

// modules
@import 'modules/_gravity-forms';



.editor-styles-wrapper {
	background: #fff;
	padding: 0;
}
body {
	padding: 0;
	background: #fff;
}


.editor-post-title__input {
	font-family: $headings-font-family;
	text-align: center;
}
.components-button {
	overflow: hidden;
}


.wp-block {
	max-width: 900px;
	&[data-align=wide] {
		max-width: 1260px;
	}
	&[data-align=full] {
		max-width: none;
	}
}

.block-editor-block-list__block[data-type="crown-blocks/container"][data-align="full"],
.block-editor-block-list__block[data-type="crown-blocks/container-featured-image"][data-align="full"],
.block-editor-block-list__block[data-type="crown-blocks/promo"][data-align="full"],
.block-editor-block-list__block[data-type="crown-blocks/call-to-action"][data-align="full"] {
	+ .block-editor-block-list__block[data-type="crown-blocks/container"][data-align="full"],
	+ .block-editor-block-list__block[data-type="crown-blocks/container-featured-image"][data-align="full"],
	+ .block-editor-block-list__block[data-type="crown-blocks/promo"][data-align="full"],
	+ .block-editor-block-list__block[data-type="crown-blocks/call-to-action"][data-align="full"] {
		margin-top: -28px;
	}
}

.block-editor-block-list__block[data-type="crown-blocks/container"] {
	> .wp-block[data-align="wide"] {
		> .crown-block-editor-container > .wp-block-crown-blocks-container {
			> .inner > .container-contents {
				@include media-breakpoint-up(xl) {
					// padding: 40px;
				}
			}
		}
	}
	> .wp-block[data-align="full"] {
		> .crown-block-editor-container > .wp-block-crown-blocks-container {
			> .inner > .container-contents {
				@each $breakpoint, $padding-x in $container-padding-x {
					@include media-breakpoint-up($breakpoint, $grid-breakpoints) {
						padding-left: $padding-x;
						padding-right: $padding-x;
					}
				}
				padding-top: 40px;
				padding-bottom: 40px;
				// max-width: $container-effective-max-width;
				@include media-breakpoint-up(md) {
					padding-top: 60px;
					padding-bottom: 60px;
				}
				// @include media-breakpoint-up(lg) {
				// 	padding-top: 80px;
				// 	padding-bottom: 80px;
				// }
				// @include media-breakpoint-up(xl) {
				// 	padding-top: 100px;
				// 	padding-bottom: 100px;
				// }
			}
		}
	}
}
.block-editor-block-list__block[data-type="crown-blocks/container"] > .wp-block,
.wp-block[data-type="crown-blocks/container"] {
	> .crown-block-editor-container > .wp-block-crown-blocks-container {
		> .inner > .container-contents {
			> .inner > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block:first-child {
				margin-top: 0;
			}
		}
	}
}


.wp-block[data-type="crown-blocks/tabbed-content"] {
	> .crown-block-editor-container > .wp-block-crown-blocks-tabbed-content {
		.tabbed-content-tabs {
			> .inner {
				display: block;
			}
		}
	}
}


.wp-block[data-type="crown-blocks/container-featured-image"] {
	+ .wp-block[data-type="crown-blocks/container-featured-image"] {
		margin-top: -28px;
	}
	&[data-align="wide"] .wp-block-crown-blocks-container-featured-image,
	&[data-align="full"] .wp-block-crown-blocks-container-featured-image,
	.wp-block-crown-blocks-container-featured-image.display-jumbo {
		&.has-featured-image {
			.container-contents {
				@include media-breakpoint-up(sm) {
					text-align: left;
				}
				@include media-breakpoint-up(lg) {
					max-width: calc(50% - (520px * 0.07027041735) - 5px);
				}
			}
		}
		> .inner,
		> a > .inner {
			@include media-breakpoint-up(lg) {
				min-height: 520px;
			}
		}
		.container-contents {
			> .inner {
				@include media-breakpoint-up(lg) {
					padding: 60px 40px 80px;
					max-width: 900px + (40px * 2);
				}
			}
		}
		.container-featured-image {
			> .inner {
				@include media-breakpoint-up(sm) {
					border-left-width: 10px;
				}
			}
		}
		&.featured-image-left .container-featured-image {
			> .inner {
				@include media-breakpoint-up(sm) {
					border-left: none;
					border-right-width: 10px;
				}
			}
		}
	}
}

.wp-block[data-type="crown-blocks/expandable-content"] {
	.wp-block-crown-blocks-expandable-content {
		border: 1px dashed fade-out(#000, .6);
		padding: 20px;
		.expandable-content-toggle {
			margin-bottom: 1rem;
		}
	}
}

.block-editor-block-list__block[data-type="crown-blocks/column"] > .wp-block,
.wp-block[data-type="crown-blocks/column"] {
	> .crown-block-editor-container > .wp-block-crown-blocks-column {
		> .inner > .column-contents {
			> .inner > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block:first-child {
				margin-top: 0;
			}
		}
	}
}

.wp-block[data-type="crown-blocks/core-values"] {
	.wp-block-crown-blocks-core-values {
		border-left: 1px dashed $light-gray;
		padding-left: 30px;
		> .inner {
			display: block;
		}
		.core-values-overview {
			padding-left: 0;
			margin-bottom: 30px;
		}
		.core-values-items {
			padding-right: 0;
			border-right: none;
		}
	}
}

.wp-block[data-type="crown-blocks/core-values-item"] {
	margin: 0;
	.wp-block-crown-blocks-core-values-item {
		margin-bottom: 30px;
		padding: 0;
		.value-title {
			text-align: left;
		}
		.value-description {
			position: static;
			opacity: 1;
			visibility: visible;
			transform: none;
		}
	}
}