

// variables
@import 'config/_functions';
@import 'config/_variables';

// libraries
@import '../../../lib/bootstrap/scss/bootstrap';
@import '../../../lib/font-awesome/scss/fontawesome.scss';

// configuration
@import 'config/_fonts';
@import 'config/_mixins';
@import 'config/_icons';

// core
@import 'core/_scaffolding';
@import 'core/_type';
@import 'core/_grid';
@import 'core/_forms';

// components
@import 'components/_links';
@import 'components/_buttons';
@import 'components/_search-form';
@import 'components/_pagination';
@import 'components/_modals';
@import 'components/_other';
@import 'components/_blocks';

// site
@import 'site/_header';
@import 'site/_footer';
@import 'site/_mobile-menu';
@import 'site/_main';

// modules
@import 'modules/_gravity-forms';

// templates
@import 'templates/_archive';
@import 'templates/_singular';